


  <div class="container">

      <!-- Outer Row -->
      <div class="row justify-content-center">

          <div class="col-xl-10 col-lg-12 col-md-9">

              <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                      <!-- Nested Row within Card Body -->
                      <div class="row">
                          <div class="col-lg-6 d-none d-lg-block password-image" ></div>
                          <div class="col-lg-6">
                              <div class="p-5">
                                <div class="container">
                                  <h1 class="h4 text-gray-900 mb-3">Cambio de contraseña.
                                  </h1>
                                  <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group py-3">
                                      <label for="password">Nueva contraseña:</label>
                                      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese la nueva contraseña...">
                                      <div *ngIf="usuarioForm.get('password').invalid && (usuarioForm.get('password').dirty || usuarioForm.get('password').touched)"
                                            class="alert alert-danger">
                                        <div *ngIf="usuarioForm.get('password').errors['required']">La nueva contraseña es requerida.</div>
                                        <div *ngIf="usuarioForm.get('password').errors['minlength']">La nueva contraseña debe tener al menos 8 caracteres.</div>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="confirmPass">Confirmar nueva contraseña:</label>
                                      <input type="password" class="form-control" id="confirmPass" formControlName="confirmPass" placeholder="Confirme la nueva contraseña...">
                                      <div *ngIf="usuarioForm.get('confirmPass').invalid && (usuarioForm.get('confirmPass').dirty || usuarioForm.get('confirmPass').touched)"
                                            class="alert alert-danger">
                                        <div *ngIf="usuarioForm.get('confirmPass').errors['required']">La confirmación de la nueva contraseña es requerida.</div>
                                        <div *ngIf="usuarioForm.get('confirmPass').errors['minlength']">La confirmación de la nueva contraseña debe tener al menos 8 caracteres.</div>
                                        <div *ngIf="usuarioForm.get('confirmPass').errors['pattern']">La confirmación de la nueva contraseña debe ser igual a la nueva contraseña.</div>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <button type="submit" class="btn btn-primary mt-5" [disabled]="!usuarioForm.valid">Cambiar contraseña</button>
                                    </div>
                                    <div *ngIf="mensajeError" class="alert alert-danger">
                                      {{ mensajeError }}
                                    </div>
                                  </form>
                                </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>

      </div>

  </div>



