@import "../../../../../src/app/app.component.scss";

@mixin button($width) {
    padding: 11px;
    width: $width !important;
    margin: 5px;
    text-align: center;
    color: $blanco;
    background-color: $azul-oscuro;
    border: none;
    border-radius: 10px;
}  

body{
    min-height: 100vh;
}

.img-diferent {
    width: 2.3rem !important;
    height: auto;
    margin: 0px 10px 0px 10px;
}



input[type="file"]::-webkit-file-upload-button{
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    font-weight: 500;
}


.container_all{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:$blanco;

    .top{
        position: absolute;
        top: 0;
    }
    .bottom{
        position: absolute;
        bottom: 0;
    }

    .welcome{
        color: $negro;
        width: 400px;
        text-align: center;
        z-index: 10;
        h4{
            color: $azul-oscuro;
        }

        .slogan{
            p{
                color: $negro;
            }
        }

    }
}
.container_register{
    z-index: 1;
    text-align: center;
    max-width: 600px;
    border-radius: 10px;
    background-color: $blanco;
    padding: 0.3rem;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.349);

        .contenedor_buttom{
                input{
                    width: 72px;
                    height: 33px;
                    border-radius: 10px;
                    border: none;
                    color: $azul-oscuro;
                    background-color: $blanco;
                    border: 2px solid $gris-claro;
                    font-weight: bold;
                    cursor: pointer;
                    position: absolute;
                    left: 87%;
                    top: 0%;
                    // Grosor letra
                    font-size: 15px;
                    line-height: 35px;
                    text-align: center;
                    text-transform: uppercase;
                    &:hover{
                        color: #FFFFFF;
                        background: repeating-linear-gradient(312deg, $azul-oscuro , $azul-claro 100px) ;

                    }
                }
        }
        .progress-barr{
            display: flex;
            margin: 25px 40px ;

                .pasos:last-child .number::after{
                    display: none;
                }
                .pasos:last-child .number::before{
                    display: none;
                }

                .pasos{
                    position: relative;
                    text-align: center;
                    width: 100%;

                        .check{
                            display: none;
                            position: absolute;
                            top: 50%;
                            left: 46%;

                            .active{
                                display: block;
                                color:$blanco;
                            }
                        }

                        p{
                            font-size: 15px;
                            color: $negro_claro;
                        }

                        .number{
                            
                            position: relative;
                            width: 100px;
                            height: 40px;
                            border: 1px solid $gris-claro;
                            border-radius: 10px;
                            display: inline-block;
                            font-size: 17px;;
                            line-height: 25px;

                                span{
                                  
                                    font-size: 17px;
                                    line-height: 25px;
                                    position: absolute;
                                    top: 15%;
                                    left: 50%;
                                    transform: translateX(-50%);

                                }

                 
                        }
                        .active{
                            background-color: $azul-oscuro;
                        }
                        .active span{
                            color: $blanco;
                            font-weight: 900;
                        }
                    }
                }

        p{
            margin-bottom: 0;
        }
}



h4{
    margin: 25px 0;
}

.long_text{
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 10px;
    padding: 12px;
    &:focus{
        outline: none;
    }
}

.types{
    display: flex;
    margin: 10px;
    span{
        padding-top: 10px;
        width: 180px;
        height: 18px;
        text-align: start;
    }

    
}

.input-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid $gris-claro;
        i{
            font-weight: 500;
         font-size: 20px;
         margin-inline-start: 10px;
        }
        span{
            width: 350px;
            color: dimgrey;
            margin-left: 0px;
        }
}
.input_text_form{
    padding: 10px;
    border: none;
    margin: 5px;
    width: 90%;
    color:dimgray;
    
    &:focus{
        outline: none;
    }
}
.slogan{
    color:$blanco;
    font-size: 12px;
    text-align: center;
}

.form_container{
    width: 100%;
    overflow: hidden;
    form{
        display: flex;
        width: 400%;
        .pagina{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 25%;
            transition: margin-left 0.3s ease-in-out;
            margin-bottom: 35px;

            .conjunto_inputs{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .input_buscar_direccion{
                display: flex;
                flex-direction: row;
                gap: 10px;
                padding-bottom: 4px;


                button{
                    border-radius: 10px;
                    border: none;
                    padding: 5px;
                    background-color: $azul-oscuro;
                    color: $blanco;
                }
                input{
                    border-radius: 10px;
                }
            }

            #map{
                border-radius: 10px;
            }
          
        }
        .buttons{
            display: flex;
            justify-content: center;
            width: 100%;

                button{
                    @include button(40%)
                }
        
        }

        .button{
            width: 100%;

            button{
            @include button(80%)
            }
        }
    
    }
}

select{
    // se le pone boreder radius para que se pueda eliminar el borde seguidamente 
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    width: 90%;
    padding: 10px;
    color:dimgray;

    &::-ms-expand{
        display: none;
    }
        
    &:focus{
        outline: none !important;
    }
}
.errors{
    color:$errores;
    font-size: 10px;
    align-self: flex-start;
    margin-left: 60px;
  
}

.mapa{
    width: 80%;
    height: 250px;
    background-color: $negro_claro;
}
.double{
    width: 82%;
    display: flex;
    justify-content: space-between;

    .input_double{
        width: 50%;
        display: flex;
        flex-direction: column;
        div{
            width: 95%;
           

        }
        .errors{
            align-self: self-end;
        }
    }

}






.container_ {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .radio-tile-group .input_container {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0px 10px 10px 10px;
  }
  
  .radio-tile-group .input_container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
  }
  
  .radio-tile-group .input_container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid $gris-claro;
    border-radius: 10px;
    padding: 1rem;
    transition: transform 300ms ease;
  }
  

  .radio-tile-group .input_container .icon i {
    margin: 0;
    font-weight:900;
    color: $gris-claro;
  }
  
  .radio-tile-group .input_container .radio-tile-label {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    position: absolute;
    color: $gris-claro;
    top: 39px;
  }
  
  .radio-tile-group .input_container .radio-button:checked + .radio-tile {
    background-color: $verde-claro;
    border: 2px solid $azul-claro;
    color: white;

  }
  
  
  .radio-tile-group .input_container .radio-button:checked + .radio-tile .icon i {
    color: white;
  }
  
 
  .radio-tile-group .input_container .radio-button:checked + .radio-tile .radio-tile-label {
    color: $negro_claro;
  }
  

  h4{
    margin: 0;
  }