<app-loaders *ngIf="loader.isLoading$ | async"></app-loaders>
<div class="container_all">
  <svg class="top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#1E90FF" fill-opacity="1"
      d="M0,96L40,90.7C80,85,160,75,240,69.3C320,64,400,64,480,106.7C560,149,640,235,720,224C800,213,880,107,960,106.7C1040,107,1120,213,1200,234.7C1280,256,1360,192,1400,160L1440,128L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
    </path>
  </svg>

  <div class="container_btn">
    <button [routerLink]="['/empresas']" class=""><i class="fi fi-sr-left"></i></button>
  </div>
  <div class="welcome">
    <h2>Bienvenido a LavaSoft para Empresas</h2>
    <h4>¡Realiza tu peticion ya que esperas!</h4>
    <div class="slogan">
      <p>
        ¡Cuida tu auto con LavaSoft y obtén el mejor servicio de lavado en la
        ciudad! Regístrate ahora y elige el lavadero más cercano y la hora que
        mejor se adapte a tus necesidades.
      </p>
    </div>

  </div>
  <div class="container_register">
    <div class="progress-barr">
      <div class="pasos" *ngFor="let elemento of elementos">
        <p>{{ elemento.texto }}</p>
        <div class="number" [ngClass]="{ active: elemento.activo }">
          <span>{{ elemento.contenido }}</span>
        </div>
      </div>
    </div>

    <div class="form_container">
      <form [formGroup]="lavaderoForm">
        <!-- Pagina 1 -->
        <div class="pagina movPage" [ngStyle]="{ 'margin-left': marginLeft }">
          <h4>Informacion principal</h4>
          <div class="conjunto_inputs">
            <div class="double">
              <div class="input_double">
                <div class="input-container" [ngClass]="{ 'errorInput': lavaderoForm.get('NIT').invalid && (lavaderoForm.get('NIT').dirty || lavaderoForm.get('NIT').touched) }">
                  <i class="fi fi-sr-fingerprint"></i>
                  <input formControlName="NIT" type="text" class="input_text_form" placeholder="NIT (000000000)" (paste)="bloquearPegado($event)" (input)="validarInput($event)">
                </div>
              </div>


              <div class="input_double">
                <div class="input-container" [ngClass]="{ 'errorInput': lavaderoForm.get('nombreLavadero').invalid && (lavaderoForm.get('nombreLavadero').dirty || lavaderoForm.get('nombreLavadero').touched) }">
                  <i class="fa-regular fa-building"></i>

                  <input type="text" class="input_text_form" placeholder="Nombre del lavadero"
                    formControlName="nombreLavadero" />
                </div>
              </div>
            </div>

            <div class="input-container" [ngClass]="{ 'errorInput': lavaderoForm.get('siNoLoRecogen').invalid && (lavaderoForm.get('siNoLoRecogen').dirty || lavaderoForm.get('siNoLoRecogen').touched) }">
              <textarea placeholder="¿Que pasa si no recojen un carro a tiempo?" formControlName="siNoLoRecogen"
                class="long_text" cols="30" rows="10"></textarea>
            </div>


            <div class="input-container" [ngClass]="{ 'errorInput': lavaderoForm.get('imagenes').invalid && (lavaderoForm.get('imagenes').dirty || lavaderoForm.get('imagenes').touched) }">
              <i class="fi fi-rr-picture"></i>
              <input formControlName="imagenes" class="input_text_form" type="file" (change)="onFileSelected($event)"
                multiple />

            </div>

            <div class="errors">
              <div *ngIf="lavaderoForm.get('NIT').invalid && (lavaderoForm.get('NIT').dirty || lavaderoForm.get('NIT').touched)">
                <div *ngIf="lavaderoForm.get('NIT').hasError('minlength')">El NIT tiene un mínimo de 8</div>
                <div *ngIf="lavaderoForm.get('NIT').hasError('maxlength')">El NIT tiene un máximo de 10</div>
              </div>

              <div *ngIf="(lavaderoForm.get('nombreLavadero').invalid && (lavaderoForm.get('nombreLavadero').dirty || lavaderoForm.get('nombreLavadero').touched)) || (lavaderoForm.get('siNoLoRecogen').invalid && (lavaderoForm.get('siNoLoRecogen').dirty || lavaderoForm.get('siNoLoRecogen').touched)) || (lavaderoForm.get('imagenes').invalid && (lavaderoForm.get('imagenes').dirty || lavaderoForm.get('imagenes').touched))">
                Todos los campos son requeridos
              </div>
            </div>
          </div>
          <div class="button siguiente-page2">
            <button tabindex="-1" (click)="siguiente('2')">Siguiente</button>
          </div>
        </div>

        <!-- Pagina 2 -->
        <div class="pagina">
          <h4>Informacion Secundaria</h4>
          <div class="conjunto_inputs">
            <div class="double">
              <div class="input_double">
                <div class="input-container" [ngClass]="{ 'errorInput': lavaderoForm.get('departamento').invalid && (lavaderoForm.get('departamento').dirty || lavaderoForm.get('departamento').touched) }">
                  <i class="fi fi-rr-map"></i>

                  <select id="departamento" formControlName="departamento" (change)="filtrarCiudades() ">
                    <option value="" selected disabled >Departamento</option>
                    <!-- departamentos de Colombia -->
                      <option *ngFor="let departamento of departamentos" [value]="departamento">{{ departamento }}</option>
                  </select>
                </div>

              </div>
              <div class="input_double">
                <div class="input-container" [ngClass]="{ 'errorInput': lavaderoForm.get('ciudad').invalid && (lavaderoForm.get('ciudad').dirty || lavaderoForm.get('ciudad').touched) }">
                  <i class="fi fi-rs-house-building"></i>

                  <select id="ciudad" formControlName="ciudad">
                    <option value="" selected disabled >ciudad</option>
                    <!-- Ciudades de Colombia -->
                    <option *ngFor="let ciudad of ciudadesFiltradas" [value]="ciudad.municipio">{{ ciudad.municipio }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="double">

              <div class="input_double">
                <div class="input-container" [ngClass]="{ 'errorInput': lavaderoForm.get('direccion').invalid && (lavaderoForm.get('direccion').dirty || lavaderoForm.get('direccion').touched) }">
                  <i class="fi fi-br-map-marker-home"></i>

                  <input class="input_text_form" type="text" placeholder="Direccion" formControlName="direccion" />

                </div>

              </div>

              <div class="input_double">

               <div class="input-container" [ngClass]="{ 'errorInput': lavaderoForm.get('sector').invalid && (lavaderoForm.get('sector').dirty || lavaderoForm.get('sector').touched) }">
                <i class="fa-regular fa-compass"></i>
                <select id="type-vehicle" formControlName="sector">
                  <option value="">Sectores</option>
                  <option value="sur">Sur</option>
                  <option value="centro">Centro</option>
                  <option value="norte">Norte</option>
                  <option value="todos">Todos</option>
                </select>

              </div>

              </div>
            </div>

            <div class="types">
              <span>Vehiculos que maneja </span>
              <div class="container_">
                <div class="radio-tile-group">
                  <label for="motorcycle" class="input_container">
                    <input id="motorcycle" class="radio-button" type="checkbox" name="radio" (change)="onCheckboxChange($event, 'Moto')">
                    <div class="radio-tile">
                      <div class="icon">
                        <i class="fa-solid fa-motorcycle"></i>
                      </div>
                      <label class="radio-tile-label">Moto</label>
                    </div>
                  </label>
                </div>
              </div>
              <div class="container_">
                <div class="radio-tile-group">
                  <label for="car" class="input_container">
                    <input id="car" class="radio-button" type="checkbox" name="radio" (change)="onCheckboxChange($event, 'Carro')">
                    <div class="radio-tile">
                      <div class="icon">
                        <i class="fa-solid fa-car-side"></i>
                      </div>
                      <label class="radio-tile-label">Carro</label>
                    </div>
                  </label>
                </div>
              </div>
              <div class="container_">
                <div class="radio-tile-group">
                  <label for="truck_small" class="input_container">
                    <input id="truck_small" class="radio-button" type="checkbox" name="radio" (change)="onCheckboxChange($event, 'Camioneta')">
                    <div class="radio-tile">
                      <div class="icon">
                        <i class="fa-solid fa-truck-pickup"></i>
                      </div>
                      <label class="radio-tile-label">Camioneta</label>
                    </div>
                  </label>
                </div>
              </div>
              <div class="container_">
                <div class="radio-tile-group">
                  <label for="truck_big" class="input_container">
                    <input id="truck_big" class="radio-button" type="checkbox" name="radio" (change)="onCheckboxChange($event, 'Camion')">
                    <div class="radio-tile">
                      <div class="icon">
                        <i class="fa-solid fa-truck"></i>
                      </div>
                      <label class="radio-tile-label">Camion</label>
                    </div>
                  </label>
                </div>
              </div>
              <div class="container_">
                <div class="radio-tile-group">
                  <label for="van" class="input_container">
                    <input id="van" class="radio-button" type="checkbox" name="radio" (change)="onCheckboxChange($event, 'Bus')">
                    <div class="radio-tile">
                      <div class="icon">
                        <i class="fa-solid fa-van-shuttle"></i>
                      </div>
                      <label class="radio-tile-label">Bus</label>
                    </div>
                  </label>
                </div>
              </div>
            </div>


            <div class="errors">
              <!-- Todos los campos son obligatorios -->
              <div *ngIf="(lavaderoForm.get('departamento').invalid && lavaderoForm.get('departamento').touched) || (lavaderoForm.get('ciudad').invalid && lavaderoForm.get('ciudad').touched) || (lavaderoForm.get('direccion').invalid && lavaderoForm.get('direccion').touched) || (lavaderoForm.get('sector').invalid && lavaderoForm.get('sector').touched) || selectedVehicles.length == 0">
                <p class="errorText">Todos los campos son obligatorios </p>
              </div>
            </div>

          </div>

          <div class="buttons">
            <button tabindex="-1" (click)="anterior('2')" class="volver-page1 volver">
              Atras
            </button>
            <button tabindex="-1" (click)="siguiente('3')" class="siguiente-page3 siguiente">
              Siguiente
            </button>
          </div>
        </div>

        <!-- Pagina 3 -->

        <div class="pagina">
          <h4>Contacto , espacios y tiempos </h4>
          <div class="conjunto_inputs">
            <div class="input-container" [ngClass]="{ 'errorInput': lavaderoForm.get('correo_electronico').invalid && (lavaderoForm.get('correo_electronico').dirty || lavaderoForm.get('correo_electronico').touched) }">
              <i class="fi fi-rr-circle-envelope"></i>

              <input class="input_text_form" type="text" placeholder="Correo electrónico"
                formControlName="correo_electronico" />

            </div>

            <div class="double">
              <div class="input_double">
                <div class="input-container" [ngClass]="{ 'errorInput': lavaderoForm.get('telefono').invalid && (lavaderoForm.get('telefono').dirty || lavaderoForm.get('telefono').touched) }">
                  <i class="fi fi-br-square-phone-hangup"></i>

                  <input class="input_text_form" type="text" placeholder="Telefono" formControlName="telefono" />

                </div>

              </div>

              <div class="input_double">
                <div class="input-container" [ngClass]="{ 'errorInput': lavaderoForm.get('espacios_de_trabajo').invalid && (lavaderoForm.get('espacios_de_trabajo').dirty || lavaderoForm.get('espacios_de_trabajo').touched) }">
                  <i>N°</i>

                  <input class="input_text_form" type="number" min="0" placeholder="espacios de trabajo"
                    formControlName="espacios_de_trabajo" />

                </div>

              </div>

            </div>

            <div class="double">
              <div class="input_double flex-row align-items-center">
                <span>Hora Abertura</span>
                <div class="input-container time" [ngClass]="{ 'errorInput': lavaderoForm.get('hora_apertura').invalid && (lavaderoForm.get('hora_apertura').dirty || lavaderoForm.get('hora_apertura').touched) }">

                  <input class="input_text_form hora" type="time" placeholder="Apertura (H:MM AM/PM)"
                    formControlName="hora_apertura" />
                </div>
              </div>


              <div class="input_double flex-row align-items-center">
                <span>Hora Cierre</span>
                <div class="input-container time" [ngClass]="{ 'errorInput': lavaderoForm.get('hora_cierre').invalid && (lavaderoForm.get('hora_cierre').dirty || lavaderoForm.get('hora_cierre').touched) }">
                  <input class="input_text_form hora" type="time"
                    formControlName="hora_cierre" />

                </div>

              </div>
            </div>

            <div class="errors">
              <!-- Todos los campos son obligatorios -->
              <div *ngIf="(lavaderoForm.get('correo_electronico').invalid && lavaderoForm.get('correo_electronico').touched) || (lavaderoForm.get('telefono').invalid && lavaderoForm.get('telefono').touched) || (lavaderoForm.get('espacios_de_trabajo').invalid && lavaderoForm.get('espacios_de_trabajo').touched) || (lavaderoForm.get('hora_apertura').invalid && lavaderoForm.get('hora_apertura').touched) || (lavaderoForm.get('hora_cierre').invalid && lavaderoForm.get('hora_cierre').touched)">
                <p class="errorText">Todos los campos son obligatorios</p>
              </div>
              <div  *ngIf="lavaderoForm.get('correo_electronico').invalid && ((lavaderoForm.get('correo_electronico').touched) || (lavaderoForm.get('correo_electronico').dirty))">
                <p class="errorText">Correo electrónico invalido</p>
              </div>
              <div  *ngIf="lavaderoForm.get('telefono').invalid && ((lavaderoForm.get('telefono').touched) || (lavaderoForm.get('telefono').dirty))">
                <p class="errorText">Telefono invalido</p>
              </div>
            </div>

          </div>




          <div class="buttons">
            <button tabindex="-1" (click)="anterior('3')" class="volver-page2 volver">
              Atras
            </button>
            <button tabindex="-1" (click)="siguiente('4')" class="siguiente-page4 siguiente">
              Siguiente
            </button>
          </div>
        </div>

        <!-- Pagina 4 -->

        <div class="pagina">
          <h5>Busca tu direccion</h5>
          <div class="conjunto_inputs">
            <div class="input_buscar_direccion">

              <input type="text" id="city" formControlName="mapa" placeholder="Ej: Armenia, Quindio" />
              <button (click)="searchCity()">Buscar</button>
            </div>
            <div id="map" style="height: 300px; width: 80%;"></div>
          </div>
          <div class="buttons">
            <button tabindex="-1" (click)="anterior('4')" class="volver-page3 volver">
              Atras
            </button>
            <button tabindex="-1" class="fin" (click)="finalizar()">Finalizar</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <svg class="bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#1E90FF"
      d="M0,192L30,192C60,192,120,192,180,186.7C240,181,300,171,360,160C420,149,480,139,540,144C600,149,660,171,720,197.3C780,224,840,256,900,240C960,224,1020,160,1080,128C1140,96,1200,96,1260,122.7C1320,149,1380,203,1410,229.3L1440,256L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z">
    </path>
  </svg>
</div>