<div class="contendor">
  <div class="details first">
    <details>
      <summary><h4>Quienes somos</h4></summary>
      <div class="content">
        <div class="data-contendor">
          <p>
            {{ descripcion }}
          </p>
        </div>
        <div class="img-contendor">
          <img
            src="https://img.freepik.com/vector-gratis/ilustracion-detallada-concepto-servicio-lavado-coches_23-2149038677.jpg?t=st=1682015712~exp=1682016312~hmac=d4f18182bc133ea3594970094c9df6018c1dd9efd7dac67ae4fedaee49daac10"
            alt=""
          />
        </div>
      </div>
    </details>
  </div>
    
  <div class="details second text-end">
  <details>
    <summary><h4>¿ ¡Que pasa si no recojo mi carro a tiempo! ?</h4></summary>
    <div class="content">
      <div class="img-contendor">
        <img
          src="https://img.freepik.com/vector-gratis/ilustracion-detallada-concepto-servicio-lavado-coches_23-2149038677.jpg?t=st=1682015712~exp=1682016312~hmac=d4f18182bc133ea3594970094c9df6018c1dd9efd7dac67ae4fedaee49daac10"
          alt=""
        />
      </div>
      <div class="data-contendor">
        <p>
          {{siNoLoRecogen}}
        </p>
      </div>
    
    </div>
  </details>
  </div>
            
</div>