<div class="contenedor">
  <div class="filter-services">
    <h4>Categorias</h4>
    <div class="categoria">
      <label class="categoria-contenedor">
        <input type="radio" name="radio" checked="" />
        <span class="name">Categoria</span>
      </label>
      <label class="categoria-contenedor">
        <input type="radio" name="radio" />
        <span class="name">Categoria</span>
      </label>

      <label class="categoria-contenedor">
        <input type="radio" name="radio" />
        <span class="name">Categoria</span>
      </label>
      <label class="categoria-contenedor">
        <input type="radio" name="radio" />
        <span class="name">Categoria</span>
      </label>
    </div>
  </div>
  <!--

-->
  <div class="services-contenedor">
    <div class="service" *ngFor="let servicio of servicios">
      <div class="name_service">
        <h4><i class="fa-solid fa-car-side"></i> {{ servicio.nombre }}</h4>
      </div>
     
      <p><i class="fa-regular fa-clock"></i> {{ servicio.duracion }} minutos</p>

      
      <div class="cost">
        <strong> <i class="fa-solid fa-money-bill-wave"></i> ${{ servicio.costo }}</strong>
        <input
          type="button"
          value="Reservar"
          (click)="openModal(true, 'reserve', servicio)"
        />
      </div>
    </div>
  </div>
</div>
