<div class="contenedor">
<div class="text-center">
<h2>Servicios</h2>
<p>Elige tu tipo de vehiculo y la categoria del servicio para poder filtrar tu buqueda.</p>
</div>

  <div class="filter-services">
  
    <div class="pages" [ngStyle]="{ 'margin-top': topPage }" >
      <div class="page" >
         <!-- tipos vehiculos -->  
         <div class="d-flex">
          <div class="container_">
            <div class="radio-tile-group">
              <label for="motorcycle" class="input_container">
                <input id="motorcycle" class="radio-button" type="checkbox" name="radio" (change)="onCheckboxChange($event, 'Moto')"> 
                <div class="radio-tile">
                  <div class="icon">
                    <i class="fa-solid fa-motorcycle"></i>
                  </div>
                  <label class="radio-tile-label">Moto</label>
                </div>
              </label>
            </div>
          </div>
          <div class="container_">
            <div class="radio-tile-group">
              <label for="car" class="input_container">
                <input id="car" class="radio-button" type="checkbox" name="radio" (change)="onCheckboxChange($event, 'Carro')">
                <div class="radio-tile">
                  <div class="icon">
                    <i class="fa-solid fa-car-side"></i>
                  </div>
                  <label class="radio-tile-label">Carro</label>
                </div>
              </label>
            </div>
          </div>
          <div class="container_">
            <div class="radio-tile-group">
              <label for="truck_small" class="input_container">
                <input id="truck_small" class="radio-button" type="checkbox" name="radio" (change)="onCheckboxChange($event, 'Camioneta')">
                <div class="radio-tile">
                  <div class="icon">
                    <i class="fa-solid fa-truck-pickup"></i>
                  </div>
                  <label class="radio-tile-label">Camioneta</label>
                </div>
              </label>
            </div>
          </div>
          <div class="container_">
            <div class="radio-tile-group">
              <label for="truck_big" class="input_container">
                <input id="truck_big" class="radio-button" type="checkbox" name="radio" (change)="onCheckboxChange($event, 'Camion')">
                <div class="radio-tile">
                  <div class="icon">
                    <i class="fa-solid fa-truck"></i>
                  </div>
                  <label class="radio-tile-label">Camion</label>
                </div>
              </label>
            </div>
          </div>
          <div class="container_">
            <div class="radio-tile-group">
              <label for="van" class="input_container">
                <input id="van" class="radio-button" type="checkbox" name="radio" (change)="onCheckboxChange($event, 'Bus')">
                <div class="radio-tile">
                  <div class="icon">
                    <i class="fa-solid fa-van-shuttle"></i>
                  </div>
                  <label class="radio-tile-label">Bus</label>
                </div>
              </label>
            </div>
          </div>
         </div>
  
          <div class="buttons" (click)="topPage = '-70px'">
            <div class="title"><h5>Categoria</h5></div>
            <div class="icon_btn"><i class="fi fi-rr-arrow-circle-down"></i></div>
          </div>
      </div>
      <div class="page" >

        <!-- categoria -->
        <div class="categoria">
          <label class="categoria-contenedor">
            <input type="radio" name="radio" checked="" />
            <span class="name">Categoria</span>
          </label>
          <label class="categoria-contenedor">
            <input type="radio" name="radio" />
            <span class="name">Categoria</span>
          </label>
    
          <label class="categoria-contenedor">
            <input type="radio" name="radio" />
            <span class="name">Categoria</span>
          </label>
          <label class="categoria-contenedor">
            <input type="radio" name="radio" />
            <span class="name">Categoria</span>
          </label>
        </div>

        <div class="buttons" (click)="topPage = '0px'">
          <div class="title"><h5>Vehiculo</h5></div>
          <div class="icon_btn"><i class="fi fi-rr-arrow-circle-up"></i></div>
        </div>
      </div>
    </div>
   
  </div>
  <!--

-->
  <div class="services-contenedor">
    <div class="service" *ngFor="let servicio of servicios">
      <div class="name_service">
        <h4><i class="fa-solid fa-car-side"></i> {{ servicio.nombre }}</h4>
      </div>
      <p><i class="fa-regular fa-clock"></i> {{ servicio.duracion }} minutos</p>

      <div class="cost">
        <strong> <i class="fa-solid fa-money-bill-wave"></i> ${{ servicio.costo }}</strong>
        <input
          type="button"
          value="Reservar"
          (click)="openModal(true, 'reserve', servicio)"
        />
      </div>
    </div>
  </div>
</div>
