<div class="container">
  <div class="filter-services">
    <h4>Categorias</h4>
    <div class="category">
      <label class="category-container">
        <input type="radio" name="radio" checked="" />
        <span class="name">Categoria</span>
      </label>
      <label class="category-container">
        <input type="radio" name="radio" />
        <span class="name">Categoria</span>
      </label>

      <label class="category-container">
        <input type="radio" name="radio" />
        <span class="name">Categoria</span>
      </label>
      <label class="category-container">
        <input type="radio" name="radio" />
        <span class="name">Categoria</span>
      </label>
    </div>
  </div>
  <!--
nombre "Servicio 1"
detalle "Detalle del servicio 1"
costo 100
duracion 30
-->
  <div class="services-container">
    <div class="service" *ngFor="let servicio of servicios">
      <h4>{{ servicio.nombre }}</h4>

      <p>{{ servicio.duracion }} minutos</p>

      <div class="icon-service">
        <i class="fa-solid fa-file-invoice icon"></i>
      </div>
      <div class="cost">
        <strong>${{ servicio.costo }}</strong>
        <input
          type="button"
          value="Reservar"
          (click)="openModal(true, 'reserve')"
        />
      </div>
    </div>
  </div>
</div>
