@import "../../../../../../src/app/app.component.scss";

.padre{

    border-radius: 10px;
    .carousel, .slide{
        height: 400px !important;
        width: 700px !important;
        position: relative !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .carousel-indicators{
            position: absolute !important;
            margin: auto;

            & > button{
                &:hover{
                    background-color: $azul-oscuro !important;
                }
            }
        }
    
        .carousel-inner{
            height: 400px !important;
            width: 700px !important;
    
            .carousel-item{
                width: 100% !important;
                height: 100% !important;
                img{
                    object-fit: cover !important;
                    width:100% !important;
                    height:100% !important;
                    border-radius: 10px;
                }
            }
        }

        .carousel-control-prev {
            &:hover{
                //Sombra en la parte derecha interna
                background: linear-gradient(to right, rgba(0, 0, 0, 0.239), rgba(0,0,0,0));
            }
        }

        .carousel-control-next {
            &:hover{
                //Sombra en la parte izquierda interna
                background: linear-gradient(to left, rgba(0, 0, 0, 0.239), rgba(0,0,0,0));
            }
        }
    }
}
