@import "../../../../../../src/app/app.component.scss";
.container{
  width: 100%;
  
  .content{
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
      overflow: hidden;

      .imgs{
          width: 400%;
          display:flex;
          animation: slide 10s infinite alternate ease-in-out;
          .img{
              width: 100%;
              img{
                  width: 100%;
                  object-fit: cover;
                  aspect-ratio: 16/9;
              }
          }
      
      }

      .paused{
        animation: none;
      }
  
  }


  .buttons{
      width: 100%;
      position: absolute;
      top: 95%;
      .controlers{
      width: 500px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
          input{
              width: 50px;
              height: 5px;
              border: none;
              background-color: $gris-claro;
              border-radius: 30px;
              cursor: pointer;
              &:hover{
                  background-color: rgb(172, 172, 172);
                  transform: scale(1.10);
              }
          }
      }
  }
}
@keyframes slide{

  0%{margin-left: 0;}
  20%{margin-left: 0;}

  
  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  
  75%{margin-left: -300%;}
  100%{margin-left: -300% ;}
}

