 <!-- Team-->
 <section class="bg-white py-5 border" id="team">
  <div class="container pt-5">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Equipo de Desarrollo</h2>
          <h3 class="section-subheading text-muted">Desarrolladores de la aplicación web.</h3>
      </div>
      <div class="row">
          <div class="col-lg-4">
              <div class="team-member">
                  <img class="mx-auto rounded-circle" src="assets/img/team/1.png" alt="..." />
                  <h4>Kevin Ortega</h4>
                  <p class="text-muted">Full Stack Developer</p>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="team-member">
                  <img class="mx-auto rounded-circle" src="assets/img/team/2.png" alt="..." />
                  <h4>Daniel Alfonso</h4>
                  <!-- Lider De frontend -->
                  <p class="text-muted">Lead Frontend Developer</p>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="team-member">
                  <img class="mx-auto rounded-circle" src="assets/img/team/3.png" alt="..." />
                  <h4>Nicolas Rivera</h4>
                  <p class="text-muted">Frontend Developer</p>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          <div class="col-lg-4">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="assets/img/team/4.png" alt="..." />
                <h4>Yordan Quintero</h4>
                <p class="text-muted">Documentation Manager</p>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="assets/img/team/5.png" alt="..." />
                <h4>Sandra Milena</h4>
                <p class="text-muted">Documentation Manager</p>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Somos un equipo de desarrolladores que trabajamos para brindarle la mejor experiencia en el uso de nuestra plataforma.</p></div>
      </div>
  </div>
</section>
