<div class="container_all">
    <div class="header d-flex justify-content-between p-3">
        <h4 class="mb-0"><i class="fi fi-sr-user-add me-2"></i>Agregar Empleado</h4>

        <input type="button" class="close" (click)="closeModal()" value="X">
    </div>

    <form class="body d-flex flex-column gap-2 align-items-center p-3">
  
        <div class="input-container">
            <i class="fi fi-sr-id-card-clip-alt"></i>
          <input type="text" class="input_text_form" placeholder="Nombre del empleado">
        </div>


        <div class="button">
            <input type="submit" class="agregar" value="Agregar">
        </div>

    </form>
</div>