<div class="container_all">
    <div class="header d-flex justify-content-between p-3">
        <h4 class="mb-0"><i class="fa-regular fa-calendar-check me-2"></i>  Confimar Reserva</h4>

        <input type="button" class="close" (click)="closeModal()" value="X">
    </div>

    <form class="body d-flex flex-column gap-2 align-items-center p-3">
        <div class="input-container">
            <i class="fi fi-sr-id-card-clip-alt"></i>
            <span class="title">Nombres de encargados</span>
            <input type="text" class="input_text_form" placeholder="Ej: nombre, nombre, nombre" [(ngModel)]="nombreEmpleado" name="nombreEmpleado">
        </div>


        <div class="button">
            <input type="submit" class="agregar" value="Confirmar" (click)="confimarReserva()">
        </div>

    </form>
</div>