<app-header></app-header>
<div class="contenedor-principal">
  <div class="lol">
    <div class="filter">
      <!-- ng class isFixed default false -->
      <app-filter-complete [ngClass]="{ 'absolute': isAbsolute }"></app-filter-complete>
    </div>
    <div class="cards">
      <div class="filter-basic">
        <app-filter-basic></app-filter-basic>
      </div>
      <div *ngIf="!loading" class="carta">
        <ng-container *ngFor="let lavadero of lavaderos">
          <app-preview-carwash [lavadero]="lavadero"></app-preview-carwash>
        </ng-container>
      </div>
      <div *ngIf="loading" class="carta">Cargando lavaderos...</div>
      <!-- Mostrar el número de página -->
      <!-- <p class="page-number">Página {{ page }}</p> -->

      <!-- Botones de paginación -->
      <div class="pagination-buttons">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="goToPreviousPage()"><</a>
          </li>
          <li class="page-item" *ngIf="totalPages > pagesToShow" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="goToFirstPage()">1</a>
          </li>
          <li class="page-item" *ngIf="showEllipsisStart">...</li>
          <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
            <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
          </li>
          <li class="page-item" *ngIf="showEllipsisEnd">...</li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="goToNextPage()">></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
