<div class="container_login">
  <div class="button_container" (click)="closeModal(0 , 'profile_carwash')">
    <i class="fi fi-br-arrow-small-left"></i>
  </div>
  <div class="form">
    <div class="logo">
      <!--<img src="../../../../assets/imgs/" alt="" />-->
    </div>
    <div class="welcome">
      <h2>Bienvenido a Lavasoft</h2>
      <p>Bienvenido de nuevo, que esperas para reservar</p>
    </div>
    <ng-container *ngIf="viewComponent == false">
      <div class="back">
        <div class="buttom_back ps" (click)="Component(true)"><i class="fi fi-sr-question-square"></i> <span></span>Olvidaste tu contraseña</div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="inputs">
          <div class="input-container relative" [ngClass]="{
            errorInput:
            loginForm.get('email').invalid &&
            (loginForm.get('email').dirty || loginForm.get('email').touched)
          }">

            <img src="../../../../assets/imgs/correo-electronico.png" alt="" />

            <input
              class="input_text_form"
              type="text"
              placeholder="Correo electronico"
              formControlName="email"
            />
            <div class="types">
              <div class="container_">
                <div class="radio-tile-group">
                  <label for="user" class="input_container">
                    <input id="user" class="radio-button" type="radio" name="opcion" formControlName="opcion" value="usuario">
                    <div class="radio-tile">
                      <div class="icon">
                        <i class="fi fi-ss-user"></i>
                      </div>
                      <label class="radio-tile-label">Usuario</label>
                    </div>
                  </label>
                </div>
              </div>
              <div class="container_">
                <div class="radio-tile-group">
                  <label for="carwash" class="input_container">
                    <input id="carwash" class="radio-button" type="radio" name="opcion" formControlName="opcion" value="lavadero">
                    <div class="radio-tile">
                      <div class="icon">
                        <i class="fi fi-sr-garage-car"></i>
                      </div>
                      <label class="radio-tile-label">Lavadero</label>
                    </div>
                  </label>
                </div>
              </div>



            </div>


          </div>
  
          <div class="input-container" [ngClass]="{
            errorInput:
            loginForm.get('password').invalid &&
            (loginForm.get('password').dirty || loginForm.get('password').touched)
          }">

            <img src="../../../../assets/imgs/llave.png" alt="" />
  
            <input
              id="password"
              class="input_text_form"
              type="password"
              placeholder="Contraseña"
              formControlName="password"
            />
          </div>
        </div>
        
        <input type="button" class="button" type="submit" value="Ingresar" />
        <div class="errors">
          <div
            *ngIf="
              loginForm.get('email').errors &&
              (loginForm.get('email').dirty || loginForm.get('email').touched)
            "
          >
            <div *ngIf="loginForm.get('email').hasError('required')">
              El email es requerido.
            </div>
            <div *ngIf="loginForm.get('email').hasError('email')">
              El email no es válido.
            </div>
          </div>

          <div
            *ngIf="
              loginForm.get('password').errors &&
              (loginForm.get('password').dirty ||
                loginForm.get('password').touched)
            "
          >
            <div *ngIf="loginForm.get('password').hasError('required')">
              La contraseña es requerida.
            </div>
          </div>
        </div>
      </form>
  
    </ng-container>
    <ng-container *ngIf="viewComponent == true">
      <div class="back">
        <div class="buttom_back" (click)="Component(false)"><i class="fi fi-br-arrow-small-left"></i> <span></span>Volver al login</div>
      </div>
      <app-recuperar-contrasena></app-recuperar-contrasena>
    </ng-container>
    
    <div class="invitation">
      <p>
        Únase y sea pionero en una comunidad de conductores que confían en este
        gran proyecto web y optimice el tiempo y la calidad en sus servicios de
        lavado de autos.
      </p>
    </div>
  </div>

  <div class="icon_login">
    <img src="../../../../assets/imgs/logo-coche.jpg" alt="" />
  </div>
</div>

<!--
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>
    Email:
    <input type="email" formControlName="email">
    <div *ngIf="loginForm.get('email').errors && (loginForm.get('email').dirty || loginForm.get('email').touched)">
      <div *ngIf="loginForm.get('email').hasError('required')">El email es requerido.</div>
      <div *ngIf="loginForm.get('email').hasError('email')">El email no es válido.</div>
    </div>
  </label>
  <label>
    Password:
    <input type="password" formControlName="password">
    <div *ngIf="loginForm.get('password').errors && (loginForm.get('password').dirty || loginForm.get('password').touched)">
      <div *ngIf="loginForm.get('password').hasError('required')">La contraseña es requerida.</div>
      <div *ngIf="loginForm.get('password').hasError('minlength')">La contraseña debe tener al menos 6 caracteres.</div>
    </div>
  </label>
  Crear una cuenta texto router 
  <p>¿No tienes una cuenta? <a routerLink="/registro">Regístrate</a></p>
  Olvidé mi contraseña texto router 
  <p><a routerLink="/recuperar-contrasena">Olvidé mi contraseña</a></p>
  <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
  <div *ngIf="errorMsg">{{ errorMsg }}</div>
</form>
  -->
