
<div class="contendor-cards" [routerLink]="['/profile_carwash', lavadero._id]" *ngIf="lavadero">
    <div class="contendor">
        <div class="contendor-img">
            <img src="{{lavadero.imagenes[0]}}" alt="">
        </div>
        <div class="data-carwash">
            <div class="data">
                <h2>{{lavadero.nombreLavadero}}</h2>
            </div>
            <div id="stars">★★★★★</div>
            <div class="data">

                <div class="ubication-contendor"><i class="fi fi-sr-marker icono-ubication"></i> <span id="ubication">{{lavadero.departamento}}, {{lavadero.ciudad}}, {{lavadero.sector}}</span></div>
                <div class="contendor-iconos">

                    <p>Vehiculos que manejamos:</p>
                    <i class="fa-solid fa-motorcycle icono" *ngIf="lavadero.tipoVehiculos.includes('Moto')"></i>
                    <i class="fa-solid fa-car-side icono" *ngIf="lavadero.tipoVehiculos.includes('Carro')"></i>
                    <i class="fa-solid fa-truck-pickup icono" *ngIf="lavadero.tipoVehiculos.includes('Camioneta')"></i>
                    <i class="fa-solid fa-truck icono" *ngIf="lavadero.tipoVehiculos.includes('Camion')"></i>
                    <i class="fa-solid fa-van-shuttle icono" *ngIf="lavadero.tipoVehiculos.includes('Bus')"></i>

                </div>
            </div>
        </div>
    </div>
</div>