
<div class="contendor-cards" [routerLink]="['/profile_carwash', lavadero._id]">
    <div class="contendor">
        <div class="contendor-img">
            <img src="{{lavadero.imagenes[0]}}" alt="">
        </div>
        <div class="data-carwash">
            <div class="data">
                <h2>{{lavadero.nombreLavadero}}</h2>
                <div id="stars">★★★★★</div>
            </div>
            <div class="data">
                <div class="ubication-contendor"><i class="fi fi-sr-marker icono-ubication"></i> <span id="ubication">{{lavadero.ciudad}}</span></div>
                <div class="contendor-iconos">
                    <p>Vehiculos que manejamos:</p>
                    <i class="fi fi-ss-motorcycle icono"></i>
                    <i class="fi fi-br-car icono"></i>
                    <i class="fi fi-bs-truck-pickup icono"></i>
                    <i class="fi fi-bs-truck-moving icono"></i>
                    <i class="fi fi-rr-bus icono"></i>
                </div>
            </div>
        </div>
    </div>
</div>