<div class="container_cards">
    
    <div class="title">
       <h2>! Conoce sobre nuestros packetes ¡</h2> 
    </div>
    <section class="cards">
        <div class="card_"  data-aos="fade-right">
            <div class="text_card"><h4>Title card</h4></div>
            <div class="icon_container"><img src="../../../../assets/imgs/cubo.png" alt=""></div>
            <div class="options">
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
            </div>
            <div class="text_card">
                <h4>$ 200.000</h4>
            </div>
        </div>
        <div class="card_" data-aos="zoom-in">
            <div class="text_card"><h4>Title card</h4></div>
            <div class="icon_container"><img src="../../../../assets/imgs/manguera-de-jardin.png" alt=""></div>
            <div class="options">
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
            </div>
            <div class="text_card">
                <h4>$ 200.000</h4>
            </div>
        </div>
         
        <div class="card_" data-aos="fade-left">
            <div class="text_card"><h4>Title card</h4></div>
            <div class="icon_container"><img src="../../../../assets/imgs/lavadora-a-presion.png" alt=""></div>
            <div class="options">
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
                <div class="option">
                    <div class="icon_option"><i class="fi fi-sr-badge-check"></i></div> 
                    <div class="text_option"><span>Lorem ipsum dolor sit amet consectetur adipisicing eli</span></div>
                </div>
            </div>
            <div class="text_card">
                <h4>$ 200.000</h4>
            </div>
        </div>

    </section>
</div>