@import '../../../../app.component.scss';
.container_cards{
    width: 100%;
    background-color: $blanco;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 0;
    background: #ffffff;
    box-shadow: inset -21px 21px 42px #c7c7c7,
                inset 21px -21px 42px #ffffff;
    .title{
        width: 100%;
        padding-block: 15px;
        margin-top: 40px;
        text-align: center;

        h2{
            margin: 0;
        }
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 900px;
        grid-gap: 50px;
        padding-bottom: 120px;
        h4{
            margin: 0;
        }
        .card_{

            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $blanco;
            transition: all 1s;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 
            0.2px 1px 0.8px hsl(0deg 0% 62% / 0.5),
            0.3px 1.7px 1.4px -0.5px hsl(0deg 0% 62% / 0.46),
            0.6px 3px 2.5px -1px hsl(0deg 0% 62% / 0.41),
            1.1px 5.9px 4.8px -1.5px hsl(0deg 0% 62% / 0.36),
            2.1px 11.1px 9.1px -2.1px hsl(0deg 0% 62% / 0.32),
            3.6px 19.4px 15.8px -2.6px hsl(0deg 0% 62% / 0.27),
            5.9px 31.8px 26px -3.1px hsl(0deg 0% 62% / 0.22),
            9.2px 49px 40px -3.6px hsl(0deg 0% 62% / 0.18),
            13.4px 71.8px 58.6px -4.1px hsl(0deg 0% 62% / 0.13),
            18.9px 101px 82.5px -4.6px hsl(0deg 0% 62% / 0.08);
            cursor: pointer;
            &:hover{
                transform: scale(1.05);
            }

            .text_card{
                width: 100%;
                text-align: center;
                padding: 10px 10px 5px 10px;
                background: $negro-claro;
                color: $blanco;    
            }

            .icon_container{
                display: block;
                margin-block: 15px;
                width: 100px;
                height: 100px;
                background-color: $negro-claro;
                position: relative;
                color: white;
                border-radius: 100%;
                img{
                    width: 3rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                }
            }

            .options{
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
                margin-block-end: 10px;

                .option{
                    gap: 10px;
                    width: 250px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .icon_option{
                        justify-content: center;
                        height: 30px;
                        background-color: $negro-claro;
                        color: #FFFFFF;
                        border-radius: 100%;
                        display: flex;
                        width: 30px;
                        align-items: center;
                        i{
                            height: 20px;
                        }
                    }
                    .text_option{
                        width: 220px;
                        font-size: 12px;
                    }
                }

            }

          
        }
    }

}