<!-- -------------NAVBAR---------------  -->
<ng-container *ngIf="auth.isLogin | async">
  <app-chat></app-chat>
</ng-container>
<app-loaders *ngIf="loaderService.isLoading$ | async"></app-loaders>
<div class="modal-p" *ngIf="activeModal != 0">
  <ng-container *ngIf="activeModal == 1">
    <app-login></app-login>
  </ng-container>
  <ng-container *ngIf="activeModal == 2">
    <app-registrar></app-registrar>
  </ng-container>
</div>

<nav class="container-nav">
  <button data-text="Awesome" class="button" [routerLink]="['/inicio']">
    <span class="actual-text">&nbsp;&nbsp;LavaSoft&nbsp;&nbsp;</span>
    <span class="hover-text"></span>
  </button>
  <ul class="nav nav-clientes">
    <ng-container *ngIf="!(auth.isLogin | async)">
      <li>
        <a (click)="openModal(1, 'profile_carwash')">INICIAR SESIÓN</a>
      </li>
      <li>
        <a class="create" (click)="openModal(2, 'profile_carwash')"
          >CREAR CUENTA</a
        >
      </li>
    </ng-container>
    <ng-container *ngIf="(auth.isLogin | async)">
      <app-perfil-menu></app-perfil-menu>
    </ng-container>
  </ul>
  <ul class="nav">
    <li>
      <a [routerLink]="['/inicio']"
        ><span
          class="hover-underline-animation"
          [routerLinkActive]="['active']"
        >
          INICIO
        </span></a
      >
    </li>
    <li>
      <a
        ><span
          [routerLink]="'/catalogue'"
          class="hover-underline-animation"
          [routerLinkActive]="['active']"
        >
          LAVADEROS
        </span></a
      >
    </li>
    <li>
      <a [routerLink]="'/empresas'"
        ><span
          class="hover-underline-animation"
          [routerLinkActive]="['active']"
        >
          EMPRESAS
        </span></a
      >
    </li>
  </ul>
  <div class="notification-banner" *ngIf="(!(Pago) || !(Visualizado)) && (auth.isLogin | async) && (auth.rol | async) == 'lavadero'">
    <div class="banner" *ngIf="!(Pago) && (auth.isLogin | async) && (auth.rol | async) == 'lavadero'">
      Adquiere un paquete para tu negocio y accede a los beneficios que tenemos para ti. Si no pagas, no serás visible para los clientes.
      <a [routerLink]="'/dashboard-lavadero/subscripcion'">Elegir plan</a>
    </div>
    <div class="banner" *ngIf="(!(Visualizado) && (auth.isLogin | async) && (auth.rol | async) == 'lavadero') && (Pago)">
      Por favor completa tu perfil al 100% y accede a los beneficios que tenemos para tu negocio. Aún no serás visible hasta que tu perfil esté completo.
      <a [routerLink]="'/dashboard-lavadero/editarPerfil'" class="btn">Actualizar perfil</a>
    </div>
  </div>

  
<div class="modal" [ngStyle]="{'left': active ? '57%' : '100%'}">
  <app-booking-history ></app-booking-history>
</div>
</nav>

<div class="rellenoBanner" *ngIf="(!(Pago) || !(Visualizado)) && (auth.isLogin | async) && (auth.rol | async) == 'lavadero'"></div>

<!-- ----------------------------  -->

<div class="go-top-container" (click)="subir()">
  <a
    ><div class="go-top-button">
      <!--     <i class="fa fa-caret-up"></i> -->
      <i class="fa fa-arrow-up"></i></div
  ></a>
</div>
