@import "../../../app.component.scss";

@mixin nav($con-borde, $color) {
  color: #fff;
  padding: 7px 13px;
  transition: 0.3s;
  border-radius: 0;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  /* Fondo transparente */
  background: transparent;

  // transicion para que el border button se abra de adentro hacia afuera

  @if ($con-borde == "true") {
    border-radius: 5px;
    border: 1px solid $color;

    &:hover {
      filter: brightness(1.1);
    }

    &.create {
      background-color: $color;

      &:hover {
        // resaltar un poco
        filter: brightness(1.1);
      }
    }
  } /* sino */
  @else {
    .hover-underline-animation {
      position: relative;
      padding-bottom: 3px;
    }

    .hover-underline-animation:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $color;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }
  }
}


.container-nav {
  background-color: $negro-claro;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 100;
  align-items: center;

  .button {
    margin: 0;
    background: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 30px;

  }

  /* button styling */
  .button {

    letter-spacing: 3px;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px $azul-oscuro;
    height: 100%;
  }

  .actual-text {
    transition: 0.5s;
    width: 0%;
  }

  .hover-text {
    position: absolute;
    content: attr(data-text);
    width: 0%;
    inset: 0;
    border-right: 0.2rem solid white;
    transition: 0.5s;
  }
  /* hover */
  .button:hover .hover-text,
  .button:hover .actual-text {
    color: white;
    -webkit-text-stroke: 1px white;
    width: 100%;
    transition: 0.5s;
    height: 100%;
    filter: drop-shadow(0 0 23px white);
    -webkit-filter: drop-shadow(0 0 23px white);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
  }

  .nav {
    float: right;
    margin-right: 20px;
    height: 100%;
    li {
      display: inline-block;
      line-height: 5rem;
      margin: 0 5px;
      height: 100%;
      a {
        @include nav("false", $azul-oscuro);

        &:hover .hover-underline-animation:after,
        .active::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }

    &.nav-clientes {
      margin-left: 20px;
      li {
        a {
          @include nav("true", $azul-oscuro);
        }
      }
    }
  }
}

.notification-banner {
  width: 100%;
  height: 55px;
  background-color: #252424;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  font-size: 16px;
}

.banner a {
  color: #fff;
  background-color: #007bff;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 1rem
}

.banner a.btn:hover {
  background-color: #0056b3;
}


.banner a.btn:hover {
  background-color: #0056b3;
}

.rellenoBanner{
  height: 55px;
}

.container.all {
  position: relative;
}
.modal-p {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(.9px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.modal{
  position: fixed;
    top: 0px;
    width: 800px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    transition:  all 0.5s;
    app-booking-history{
      height: 100%;
      
    }
}

// UP

.go-top-container{
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  width: 2rem;
  height: 1rem;
  z-index: -1; /* para que no se vea */
}

.go-top-button{
  width: 0rem;
  height: 0rem;
  background-color: $azul-oscuro;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transition: .4s;
  transform: translate(-50%, -50%);
  z-index: -5;
}

.go-top-button i{
  position: absolute;
  font-size: 1.7rem;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);;
  color: #ffffffe7;
  transition: .3s all;
}

.show{
  z-index: 10; /* para que se vea */
}

.show .go-top-button{
  animation: popup .3 ease-in-out;
  -webkit-animation: popup .3 ease-in-out;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  z-index: 11;
}

.show i{
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
  0%{
    width: 0rem;
    height: 0rem;
  }
  50%{
    width: 10rem;
    height: 10rem;
  }
  100%{
    width: 4rem;
    height: 4rem;
  }
}

// Perfil
app-perfil-menu{
  height: 100%;
  display: flex;
  align-items: center;
}

app-chat {
  z-index: 50;
}




