




<div class="container">Seleccionar fecha :</div>




<div class="booking-container d-flex justify-content-between">
  <div class="button-container">
    <button class="arrow-button btn" (click)="scrollPrevious()">←</button>
  </div>
  <div id="container" class="dates-container">
    <div *ngFor="let date of dates" class="dates-list" (click)="selectDate(date)" [class.selected]="selectedDate === date">
      <div class="month">{{date | date:'MMM'}}</div>
      <div class="day">{{date | date:'EEEE'}}</div>
      <div class="date">{{date | date:'dd'}}</div>
    </div>

  </div>
  <div class="button-container"><button class="arrow-button btn" (click)="scrollNext()">→</button>
  </div>
</div>






