

.button-container {
  display: flex;
  padding: 10px;
  z-index: 2;
  background: inherit;
  align-items: flex-end;
}

.arrow-button {
  background-color: #3657EE;
  color: white;
  width: 40px;
  border: none;
  cursor: pointer;
  height: 40px;
  display: flex;
  padding: 0;
  font-size: 20px;
  align-items: center;
  flex-shrink: 0;
  font-weight: bold;
  border-radius: 50%;
  margin-bottom: 5px;
  justify-content: center;
  text-decoration: none;
}


.booking-container {
  display: flex;
  max-width: 400px;
  min-height:75px;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid #dcdcdc; /* Cambiar el color del borde y su grosor */
  border-radius: 4px; /* Agregar esquinas redondeadas */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); /* Agregar una sombra para dar profundidad */

  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.dates-container {
  display: flex;
  max-width: 400px;
  min-height:75px;
  overflow-x: hidden;
  overflow-y: hidden;

  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.dates-list {
  width: 45px;
  cursor: pointer;
  height: 49px;
  margin-right: 33px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.selected {
  font-weight: bold;
  color: #3657EE;
  border-radius: 50%;

}



