<!-- -----------BODY-----------------  -->
<section class="main-container">
  <div class="header">
          <div class="burbujas"> <!-- Burbujas -->
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
      </div>
    <div class="title">

      <h1>No pierdas mas el tiempo esperando en Autolavados</h1>
      <h3>Busca tu lavadero de preferencia y Agenda tu lavado de vehiculo.</h3>
    </div>
    <div class="buscador">
      <div class="secciones-input">
        <div class="filtro">
          <p>Departamento</p>
          <select id="Departamento" (change)="onChangeDepartamento($event)">
            <option value="departamento" selected disabled>Seleccione una opción&nbsp;&nbsp;</option>
            <option *ngFor="let departamento of departamentos" [value]="departamento">{{ departamento }}</option>
          </select>
        </div>

        <div class="filtro">
          <p>ciudad</p>
         <select id="ciudad" (change)="onChangeCiudad($event)">
          <option value="ciudad" selected disabled>Seleccione una opción&nbsp;&nbsp;</option>
          <!-- Ciudades de Colombia -->

          <option *ngFor="let ciudad of ciudadesFiltradas" [value]="ciudad.municipio">{{ ciudad.municipio }}</option>

        </select>
        </div>
        <div class="filtro">
          <p>Sector</p>
          <select name="" id="" (change)="onChangeSector($event)">
            <option value="sectores" selected disabled>Seleccione una opción&nbsp;&nbsp;</option>
            <option value="sur">Sur</option>
            <option value="centro">Centro</option>
            <option value="norte">Norte</option>
          </select>
        </div>
        <input type="submit" value="Buscar Lavadero" (click)="buscarLavadero()" routerLink="/catalogue">
      </div>
    </div>
  </div>
  <!-- /////////////////////////////////////////////////// -->

  <!-- ////////////////////////////////////////////s -->

  <div class="principal">
    <div class="paso-paso">
      <div class="title-paso">
        <h2>Paso a Paso</h2>
        <p>3 simples pasos para agendar el lavado de tu vehiculo.</p>
      </div>
      <div class="info-paso">
        <div class="paso">
          <div class="icon-paso"></div>
          <h4>Paso 1</h4>
          <p>Busca y selecciona tu lavadero de preferencia</p>
        </div>
        <div class="paso">
          <div class="icon-paso"></div>
          <h4>Paso 2</h4>
          <p>Busca tu servicio y agendalo a la hora que desees</p>
        </div>
        <div class="paso">
          <div class="icon-paso"></div>
          <h4>Paso 3</h4>
          <p>Y listo!! el lavadero te estará esperando</p>
        </div>
        
      </div>
    </div>
  </div>
  <app-testimonials></app-testimonials>
  <app-about></app-about>
  <app-sponsors></app-sponsors>
  <app-team></app-team>
</section>
<!-- ----------------------------  -->
