.app {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
}

/* Estilos para la lista de reportes */
.reportes {
  display: flex;
  flex-direction: column;
  width: 95%;
  min-height: calc(100vh - 100px);
  padding: 20px;
  font-family: Arial, sans-serif;

  // Sombra

  background: white;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;

}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;

  h2 {
		color: #2a2185;
	}
}

/* Estilos para cada reporte */
.reporte {
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

}

/* Estilos para el summary de cada reporte */
.reporte > summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  height: 50px; /* Fijamos una altura para el summary */
  transition: background-color 0.3s ease-in-out; 
}

fa-icon{
  color: #2921859d;
  padding-inline: 10px;
  font-size: 20px;
}

/* Estilos para el título del reporte */
.reporte-titulo {
  font-size: 16px;
}

.contenedor-tipoReporte{
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

/* Estilos para el tipo del reporte */
.reporte-tipo {
  font-size: 14px;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0;
}

/* Estilos para el contenido del reporte */
.reporte-contenido {
  background-color: #fff;
  display: none; /* Ocultamos el contenido por defecto */
}

/* Estilos para la descripción del reporte */
.reporte-tabla {
  width: 100%;
  border-collapse: collapse;
}

.reporte-tabla th {
  font-weight: bold;
  color: #333;
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #cccccc9c;
}

.reporte-tabla td {
  font-size: 14px;
  color: #666;
  padding: 5px;
  border-bottom: 1px solid #cccccc3c;
}
/* Estilos para los botones del reporte */
.reporte-botones {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.reporte-boton {
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

 .reporte-boton-aceptar {
   background-color:#28a745; /* Color verde */
 }

 .reporte-boton-cancelar {
   background-color:#dc3545; /* Color rojo */
 }

 /* Estilos para cuando el reporte está abierto */
 .reporte[open] {
    border-radius: 0px 0px 5px 5px; /* Redondeamos la esquina inferior */
    border: 1px solid #ccc; /* Añadimos una línea inferior */
 }

 .reporte[open] > summary {
    background-color: #2a2185 !important; /* Cambiamos el color de fondo */
    color: #fff !important; /* Cambiamos el color del texto */
    // Inicial Mayuscula de la primera palabra
    font-weight: bold;
 }

 .reporte[open] > summary div fa-icon {
    color: #fff !important;
 }

 .reporte[open] > summary::after {
   content:"-"; /* Cambiamos el símbolo a menos */
 }

 .reporte[open] > .reporte-contenido {
   display:block; /* Mostramos el contenido */
 }

 /* Estilos para el símbolo de más o menos en el summary */
 .reporte > summary::after {
   content:"+"; /* Por defecto mostramos un más */
   font-size:20px;
   margin-left:10px;
 }

 /* Estilos para el input de selección */
 .select {
   display:flex; 
   align-items:center; 
   justify-content:flex-start; 
   margin-bottom:10px; 
 }

 .select-label {
   font-weight:bold; 
   color:#333; 
   margin-right:10px; 
 }

 .select-input {
   width:200px; 
   height:30px; 
   border:1px solid #ccc; 
   border-radius:5px; 
   padding:5px; 
 }

 /* Estilos para la sección informativa */
 .info {
   display:flex; 
   align-items:center; 
   justify-content:flex-start; 
   padding-bottom: 40px;
 }

 .info-item {
   display:flex; 
   align-items:center; 
   margin-right:10px; 
 }

 .info-color {
   width:20px; 
   height:20px; 
   border-radius:50%; 
   margin-right:5px; 
 }


 
.button {
  border: none;
  & i {
        pointer-events: none;
  }
  &:disabled {
        color: #b3b3b3;
        pointer-events: none;
  }
}
.button,
.link {
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: #666666;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
        color: white;
        background: #2a2185
  }
  &.active {
        color: white;
        background: #2a2185
  }
}
.links {
  column-gap: 12px;
}
.link {
  font-weight: 500;
  text-decoration: none;
  border-radius: 50%;
}
.paginacion,
.button,
.links,
.link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
}
.paginacion {
      padding: 15px;
      border-radius: 10px;
      column-gap: 12px;
      background: white;
      margin-top: auto;
      font-size: 12px;
  button {
    &.btn {
          width: 5px;
          height: 5px;
          cursor: pointer;
          background: transparent;
          border: 0; //#91C9FF
          outline: none;
          transition: 1s ease-in-out;
          & span {
                color: white;
                font-size: 17px;
                font-weight: 500;
          }
    }
    & svg {
          position: absolute;
          left: 0;
          top: 0;
          fill: none;
          stroke: #2a2185;
          stroke-dasharray: 150 480;
          stroke-dashoffset: 150;
          transition: 1s ease-in-out;
    }
    &.btn:hover {
          transition: 1s ease-in-out;
          //background: #4F95DA;
    }
    &.btn:hover svg {
          stroke-dashoffset: -480;
    }
  }
}


/*     <!-- Aquí tienes la categorización de los diferentes casos según su gravedad:

      Color para grave, muy grave y leve (No verde):

      Muy grave:
      #FF0000
      grave:
      #FFA500
      leve:
      #FFFF00

1. Información falsa: Grave
2. Cambio de ubicación: Leve
3. Cierre temporal o permanente: Leve
4. Mal servicio al cliente: Grave
5. Incumplimiento de normas de seguridad: Muy grave

Explicación de la categorización:

1. Información falsa: Este caso se considera grave porque proporcionar información engañosa o falsa puede afectar la decisión de los clientes al elegir un lavadero de vehículos. Puede generar confusión y llevar a transacciones injustas o insatisfactorias.

2. Cambio de ubicación: Este caso se considera leve, ya que aunque puede generar cierta confusión a los usuarios, se trata de un problema fácilmente solucionable. Una vez actualizada la información de ubicación, el problema se resuelve y no tiene un impacto significativo en la experiencia del cliente.

3. Cierre temporal o permanente: También se considera un caso leve, ya que los lavaderos de vehículos pueden cerrar temporal o permanentemente por diversas razones. Aunque es importante tener información precisa, este problema no afecta directamente la calidad del servicio ni la seguridad del cliente.

4. Mal servicio al cliente: Este caso se considera grave debido a que una mala experiencia en el servicio al cliente puede afectar la satisfacción general del cliente y su percepción del lavadero de vehículos. El trato grosero o la falta de atención adecuada pueden generar una mala reputación y disminuir la confianza de los clientes en el negocio.

5. Incumplimiento de normas de seguridad: Este caso se considera muy grave, ya que pone en riesgo la seguridad de los clientes y del personal del lavadero de vehículos. El manejo inadecuado de productos químicos o la presencia de equipos defectuosos pueden causar accidentes o lesiones graves. Es fundamental reportar este tipo de situaciones para garantizar la seguridad de todos los involucrados.

Debe cambiar el color el tipo de reporte según su gravedad:

              <span class="reporte-tipo"  [ngClass]="{'info-color-muygraves': reporte.tipo === 'Incumplimiento de normas de seguridad', 'info-color-graves': reporte.tipo === 'Mal servicio al cliente', 'info-color-leves': reporte.tipo === 'Cierre temporal o permanente' || reporte.tipo === 'Cambio de ubicación' || reporte.tipo === 'Información falsa'}">{{ reporte.tipo }}</span>
--> */


.info-color-muygraves {
  background-color: #FF0000;
}

.info-color-graves {
  background-color: #FFA500;
}

.info-color-leves {
  background-color: #FFFF00;
  color: #333;
}