<div class="app">
  <!-- Lista de reportes -->
  <div class="reportes">
    <div class="cardHeader">
      <h2>Reportes Pendientes para revisar</h2>
    </div>

    <div class="select">
      <label for="selectInput" class="select-label"
        >Selecciona el tipo de reporte:</label
      >
      <select name="selectInput" id="selectInput" class="select-input">
        <option value="todos">Todos</option>
        <option value="falsa">Información falsa</option>
        <option value="abuso">Abuso</option>
        <option value="correccion">Corrección</option>
      </select>
    </div>

    <!-- Sección informativa -->
    <div class="info">
      <div class="info-item">
        <div class="info-color info-color-falsa"></div>
        <span>Muy graves</span>
      </div>
      <div class="info-item">
        <div class="info-color info-color-abuso"></div>
        <span>Graves</span>
      </div>
      <div class="info-item">
        <div class="info-color info-color-correccion"></div>
        <span>Leves</span>
      </div>
    </div>

    <details class="reporte" data-tipo="falsa">
      <summary>
        <div class="reporte-titulo">
          <fa-icon [icon]="mensaje"></fa-icon>La foto no tiene que ver con el
          lavadero
        </div>

        <div class="contenedor-tipoReporte">
          <span class="reporte-tipo info-color-falsa">Información falsa</span>
        </div>
      </summary>
      <div class="reporte-contenido">
        <table class="reporte-tabla">
          <tr>
            <th>Reportado:</th>
            <td>Juan Pérez</td>
          </tr>
          <tr>
            <th>Usuario:</th>
            <td>María García</td>
          </tr>
          <tr>
            <th>Razón:</th>
            <td>
              La foto que publicó María no corresponde al lavadero que ofrece en
              su anuncio.
            </td>
          </tr>
        </table>
        <div class="reporte-botones">
          <button class="reporte-boton reporte-boton-aceptar">
            Aceptar reporte
          </button>
          <button class="reporte-boton reporte-boton-cancelar">
            Cancelar reporte
          </button>
        </div>
      </div>
    </details>

    <details class="reporte" data-tipo="abuso">
      <summary>
        <div class="reporte-titulo">
          <fa-icon [icon]="mensaje"></fa-icon>El usuario no me ha pagado
        </div>

        <div class="contenedor-tipoReporte">
          <span class="reporte-tipo info-color-abuso">Abuso</span>
        </div>
      </summary>
      <div class="reporte-contenido">
        <table class="reporte-tabla">
          <tr>
            <th>Reportado:</th>
            <td>Juan Pérez</td>
          </tr>
          <tr>
            <th>Usuario:</th>
            <td>María García</td>
          </tr>
          <tr>
            <th>Razón:</th>
            <td>María no me ha pagado por el lavado que le hice.</td>
          </tr>
        </table>
        <div class="reporte-botones">
          <button class="reporte-boton reporte-boton-aceptar">
            Aceptar reporte
          </button>
          <button class="reporte-boton reporte-boton-cancelar">
            Cancelar reporte
          </button>
        </div>
      </div>
    </details>

    <details class="reporte" data-tipo="Corrección">
      <summary>
        <div class="reporte-titulo">
          <fa-icon [icon]="mensaje"></fa-icon>El usuario no me ha pagado
        </div>

        <div class="contenedor-tipoReporte">
          <span class="reporte-tipo info-color-correccion">Corrección</span>
        </div>
      </summary>
      <div class="reporte-contenido">
        <table class="reporte-tabla">
          <tr>
            <th>Reportado:</th>
            <td>Juan Pérez</td>
          </tr>
          <tr>
            <th>Usuario:</th>
            <td>María García</td>
          </tr>
          <tr>
            <th>Razón:</th>
            <td>María no me ha pagado por el lavado que le hice.</td>
          </tr>
        </table>
        <div class="reporte-botones">
          <button class="reporte-boton reporte-boton-aceptar">
            Aceptar reporte
          </button>
          <button class="reporte-boton reporte-boton-cancelar">
            Cancelar reporte
          </button>
        </div>
      </div>
    </details>
    <div class="paginacion">
      <!-- Paginación -->
      <button class="button prevNext" id="prev" disabled="">
        <i class="fa-solid fa-angle-left"></i>
      </button>

      <div class="links">
        <a href="#" class="link active">1</a>
      </div>

      <button class="button prevNext" id="next">
        <i class="fa-solid fa-angle-right"></i>
      </button>
    </div>
  </div>
</div>
