<div class="app">
  <!-- Lista de reportes -->
  <div class="reportes">
    <div class="cardHeader">
      <h2>Reportes Pendientes para revisar</h2>
    </div>


    <div class="select">
      <label for="selectInput" class="select-label"
        >Selecciona el tipo de reporte:</label
      >
      <select name="selectInput" id="selectInput" class="select-input" (change)="filtrarReportes($event)">
        <option value="">Todos</option>
        <option value="Informacion falsa">Información falsa</option>
        <option value="Cambio de ubicacion">Cambio de ubicación</option>
        <option value="Cierre temporal o permanente">
          Cierre temporal o permanente
        </option>
        <option value="Mal servicio al cliente">
          Mal servicio al cliente
        </option>
        <option value="Incumplimiento de normas de seguridad">
          Incumplimiento de normas de seguridad
        </option>
      </select>
    </div>

    <!-- Sección informativa -->
    <div class="info">
      <div class="info-item">
        <div class="info-color info-color-muygraves"></div>
        <span>Muy graves</span>
      </div>
      <div class="info-item">
        <div class="info-color info-color-graves"></div>
        <span>Graves</span>
      </div>
      <div class="info-item">
        <div class="info-color info-color-leves"></div>
        <span>Leves</span>
      </div>
    </div>

    <div *ngIf="reportes.length > 0; else noReportes">
      <ng-container *ngFor="let reporte of reportes">
        <details class="reporte" data-tipo="abuso">
          <summary>
            <div class="reporte-titulo">
              <fa-icon [icon]="mensaje"></fa-icon>{{ reporte.razon }}
            </div>

            <div class="contenedor-tipoReporte">
              <span class="reporte-tipo"  [ngClass]="{'info-color-muygraves': reporte.tipo === 'Incumplimiento de normas de seguridad', 'info-color-graves': reporte.tipo === 'Mal servicio al cliente', 'info-color-leves': reporte.tipo === 'Cierre temporal o permanente' || reporte.tipo === 'Cambio de ubicacion' || reporte.tipo === 'Informacion falsa'}">{{ reporte.tipo }}</span>
            </div>
          </summary>
          <div class="reporte-contenido">
            <table class="reporte-tabla">
              <tr>
                <th>Reportado:</th>
                <td>{{ reporte.nombre_lavadero }}</td>
                <td><a [routerLink]="['/#/profile_carwash/', reporte.id_lavadero]" target="_blank">Ir lavadero</a></td>
              </tr>
              <tr>
                <th>Usuario:</th>
                <td>{{ reporte.nombre_usuario }}</td>
                <td>{{ reporte.id_usuario }}</td>
              </tr>
              <tr>
                <th>Descripción:</th>
                <td>{{ reporte.descripcion }}</td>
              </tr>
              <tr>
                <th>Fecha:</th>
                <td>{{ reporte.fecha | date: 'dd/MMMM/yyyy HH:mm' }}</td>
              </tr>
            </table>
            <div class="reporte-botones">
              <button class="reporte-boton reporte-boton-aceptar" (click)="aceptarReporte(reporte._id)">
                Aceptar reporte
              </button>
              <button class="reporte-boton reporte-boton-cancelar" (click)="rechazarReporte(reporte._id)">
                Rechazar reporte
              </button>
            </div>
          </div>
        </details>
      </ng-container>
    </div>

    <ng-template #noReportes>
      <div class="noReportes">
        <h3>No hay reportes pendientes</h3>
      </div>
    </ng-template>

    <div class="pagination-buttons">
      <ul class="pagination" *ngIf="totalPages >= 1">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link flecha" (click)="goToPreviousPage()"><</a>
        </li>
        <li
          class="page-item"
          *ngIf="totalPages > pagesToShow"
          [class.disabled]="currentPage === 1"
        >
          <a class="page-link" (click)="goToFirstPage()">1</a>
        </li>
        <li
          class="page-item puntos"
          *ngIf="showEllipsisStart && pages.length > 0 && pages[0] > 2"
        >
          ...
        </li>
        <li
          class="page-item"
          *ngFor="let page of pages"
          [class.active]="page === currentPage"
        >
          <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
        </li>
        <li
          class="page-item puntos"
          *ngIf="showEllipsisEnd && pages.length > 0"
        >
          ...
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link flecha" (click)="goToNextPage()">></a>
        </li>
      </ul>
    </div>
  </div>
</div>
