<div class="contenedor-padre">
  <div class="contenedor">
    <div class="input_container">
      <i class="fa-solid fa-city"></i>
      <select id="location">
        <option value="">ciudad</option>
      </select>
    </div>

   
    <div class="input_container">
      <i class="fa-regular fa-compass"></i>
      <select id="type-vehicle">
        <option value="">Sectores</option>
        <option value="car">Sur</option>
        <option value="truck">Centro</option>
        <option value="recreational">Norte</option>
        <option value="commercial">Vehículos comerciales</option>
        <option value="all">todos</option>
      </select>
      
      
    </div>
    <div class="input_container">
      <i class="fi fi-rr-car-bus"></i>

      <select id="type-vehicle">
        <option value="" >Tipo Vehículo</option>
        <option value="car">Carro</option>
        <option value="truck">camioneta</option>
        <option value="recreational">Vehículos recreativos</option>
        <option value="commercial">Vehículos comerciales</option>
        <option value="all">todos</option>
      </select>
    </div>

    <div class="button-container">
      <button><i class="fi fi-br-search"></i></button>
    </div>
  </div>
</div>
