<div class="col-6 container_all">
    <div class="row header">
        <div class="col text-center">
        <h4>
            Nombre del lavadero
        </h4>
        </div>
        <div class="close">
            <button class="btn btn-danger">X</button>
        </div>
    </div>
   <div class="content">
        <div class="row">
            <div class="col col-3">
            <span class="title">Nit</span>
            <h5 class="description">000000000</h5>
            </div>

            <div class="col col-3">
                <span class="title">°N de espacios</span>
                <h5 class="description">35</h5>
            </div>  

            <div class="col">
            <span class="title">Nombre del lavadero</span>
            <h5 class="description">Nombre del lavadero</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="title">Ciudad</span>
                <h5 class="description"></h5>
            </div>
            <div class="col">
                <span class="title">Direccion</span>
                <h5 class="description"></h5>
            </div>
            <div class="col">
                <span class="title">Telefono</span>
                <h5 class="description">+57 3104010625</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <span class="title">Hora abertura</span>
            <h5 class="description">sd</h5>
            </div>

            <div class="col">
            <span class="title">Hora salida</span>
            <h5 class="description">sad</h5>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <span class="title">Vehiculos que manejamos</span>
                <div class="types d-flex justify-content-around">
                <i class="fa-solid fa-motorcycle"></i>
                <i>-</i>
                <i class="fa-solid fa-car-side"></i>
                <i>-</i>
                <i class="fa-solid fa-truck-pickup"></i>
                <i>-</i>
                <i class="fa-solid fa-truck"></i>
                <i>-</i>
                <i class="fa-solid fa-van-shuttle"></i>
                </div>
            </div>
    
            
            <div class="col">
                <span class="title">Correo electronico</span>
                <h5 class="description">lavadero@gmail.com</h5>
            </div>

       </div>

       <div class="row">

        <span class="title">Imagenes del lavadero</span>
        <div class="col flex-row  imgs">
           <img src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="">
           <img src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="">
           <img src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="">
           <img src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="">
           

          </div>


   </div>
   </div>

   
</div>
