<div class="col-7 container_all">
    <div class="row header">
        <div class="col text-center">
        <h2>
            {{lavadero.nombreLavadero}}
        </h2>
        </div>
        <div>
            <button class="close" (click)="closeModal(false , 'acceptance')">X</button>
        </div>
    </div>
   <div class="content">
        <div class="row">
            <div class="col col-auto">
            <span class="title">Nit</span>
            <h5 class="description">{{lavadero.NIT}}</h5>
            </div>

            <div class="col  col-auto">
                <span class="title">Correo electronico</span>
                <h5 class="description">{{lavadero.correo_electronico}}</h5>
            </div>
            <div class="col ">
                <span class="title">Telefono</span>
                <h5 class="description">{{lavadero.telefono}}</h5>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <span class="title">Departamento</span>
                <h5 class="description">{{lavadero.departamento}}</h5>
            </div>

            <div class="col">
                <span class="title">Ciudad</span>
                <h5 class="description">{{lavadero.ciudad}}</h5>
            </div>
          
            <div class="col col-auto">
                <span class="title">Sector</span>
                <h5 class="description">{{lavadero.sector}}</h5>
            </div>

            <div class="col">
                <span class="title">Direccion</span>
                <h5 class="description">{{lavadero.direccion}}</h5>
            </div>
        
        </div>
        <div class="row">
            <div class="col col-auto">
                <span class="title">°N espacios</span>
                <h5 class="description">{{lavadero.espacios_de_trabajo}}</h5>
            </div>  
            <div class="col col-auto">
            <span class="title">Hora apertura</span>
            <h5 class="description">{{lavadero.hora_apertura}}</h5>
            </div>

            <div class="col col-auto">
            <span class="title">Hora cierre</span>
            <h5 class="description">{{lavadero.hora_cierre}}</h5>
            </div>
            <div class="col">
                <span class="title">Vehiculos que manejamos</span>
                <div class="types d-flex justify-content-around">
                    <i class="fi fi-ss-motorcycle icono" *ngIf="lavadero.tipoVehiculos.includes('Moto')"></i>
                    <i class="fi fi-br-car icono" *ngIf="lavadero.tipoVehiculos.includes('Carro')"></i>
                    <i class="fi fi-bs-truck-pickup icono" *ngIf="lavadero.tipoVehiculos.includes('Camioneta')"></i>
                    <i class="fi fi-bs-truck-moving icono" *ngIf="lavadero.tipoVehiculos.includes('Camion')"></i>
                    <i class="fi fi-rr-bus icono" *ngIf="lavadero.tipoVehiculos.includes('Bus')"></i>
                </div>
            </div>
        </div>

       <div class="row">

            <span class="title">Imagenes del lavadero</span>
            <div class="col flex-row  imgs">
                <ng-container
                 *ngFor="let img of lavadero.imagenes">
                    <img [src]="img" alt="">
                </ng-container>
            </div>


        </div>

        <div class="row">
            <div class="btn-group">
                <button class="btn aceptar" (click)="aceptarLavadero()">Aceptar</button>
                <button class="btn cancelar" >Rechazar</button>
              </div>


        </div>
   </div>

   
</div>
