@import "../../../../../../src/app/app.component.scss";

.contenedor-padre{
    width: 100%;
    height: auto;
    background-color: $blanco;
}

.contenedor{
    height: 85px;
    display: flex;
    align-items: center;
}
.input_container{
    width: 30%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid $gris-claro;
   
       i{
            font-size: 20px;
            width: 2rem;
            height: auto;
            margin: 0px 10px 0px 10px;
            user-select: none;
            color: $gris-oscuro;
        }
        &:hover{
            border-color: $negro_claro;
        }
        &:hover i {
            color: $negro_claro;
        }     
}

select{  
  -webkit-appearance:none; 
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  background: url(https://cdn-icons-png.flaticon.com/512/32/32195.png) no-repeat 95% 50%;
  background-size: 10px;
  border: 0;
  border-radius: 0;
  width: 100%;
  font-size: 14px;
  color: $gris-oscuro;
  font-weight: 300;
  height: 40px;
  cursor: pointer;
  

    &:hover{
        color: $negro_claro;
    }
        
    &:focus{
        outline: none !important;
    }
}

select::-ms-expand {
    display: none;
 }

.button-container{
    background: $azul-oscuro;
    border-radius: 100%;
    margin-left: 15px;
    border: none;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    button{
        position: relative;
        background: transparent;
        border: none;
        margin-block: 12px;
        padding: 0;
        i{
            position: absolute;
            top: 8px;
            transform: translate(-50%,-50%);
            color: $blanco;
            font-size: 20px;

        }
       
    }

    &:hover{
        cursor: pointer;
        background:$azul-claro ;
    }
}