<div class="contenedor-padre">
  <div class="contenedor">
    <div class="input_container">
      <i class="fa-solid fa-city"></i>
      <select id="location" (change)="onChangeCiudad($event)">
        <option value="">ciudad</option>
        <!-- Ciudades de Colombia -->

        <option value="bogota">Bogotá</option>
        <option value="medellin">Medellín</option>
        <option value="Ciudad0">Armenia</option>
        <option value="cali">Cali</option>
        <option value="barranquilla">Barranquilla</option>
        <option value="cartagena">Cartagena</option>
        <option value="cucuta">Cúcuta</option>
        <option value="bucaramanga">Bucaramanga</option>
        <option value="pereira">Pereira</option>
        <option value="ibague">Ibagué</option>
        <option value="santa-marta">Santa Marta</option>
        <option value="villavicencio">Villavicencio</option>
        <option value="valledupar">Valledupar</option>

      </select>
    </div>

    <div class="input_container">
      <i class="fa-regular fa-compass"></i>
      <select id="type-vehicle" (change)="onChangeSector($event)">
        <option value="">Sectores</option>
        <option value="sur">Sur</option>
        <option value="centro">Centro</option>
        <option value="norte">Norte</option>
        <option value="todos">Todos</option>
      </select>

    </div>
    <div class="input_container">
      <i class="fi fi-rr-car-bus"></i>

      <select id="type-vehicle" (change)="onChangeTipoVehiculo($event)">
        <option value="" >Tipo Vehículo</option>
        <option value="Carro">Carro</option>
        <option value="Camioneta">Camioneta</option>
        <option value="Moto">Moto</option>
        <option value="Camion">Camion</option>
        <option value="Bwus">Bus</option>
        <option value="todos">Todos</option>
      </select>
    </div>

    <div class="button-container">
      <button class="button" (click)="onSearch()">
        <i class="fi fi-br-search"></i></button>
    </div>
  </div>
</div>
