<div class="contenedor-padre">
  <div class="contenedor">
    <div class="input_container">
      <i class="fi fi-rr-map"></i>
      <select id="Departamento" [(ngModel)]="departamentoSeleccionado" (ngModelChange)="onChangeDepartamento($event)">
        <option value="departamento" selected disabled>Departamento</option>
        <!-- Seleccionar todas: -->
        <option value="">Todas</option>
        <ng-container *ngFor="let departamento of departamentos">
        <option [value]="departamento" *ngIf="departamento != 'Archipiélago de San Andrés, Providencia y Santa Catalina'">{{ departamento }}</option>
      </ng-container>
      </select>
    </div>

    <div class="input_container">
      <i class="fa-solid fa-city"></i>
      <select id="ciudad" [(ngModel)]="ciudadSeleccionada" (ngModelChange)="onChangeCiudad($event)">
        <option value="ciudad" selected disabled>ciudad</option>
        <!-- Seleccionar todas: -->
        <option value="">Todas</option>
        <!-- Ciudades de Colombia -->
        <option *ngFor="let ciudad of ciudadesFiltradas" [value]="ciudad.municipio">{{ ciudad.municipio }}</option>
      </select>
    </div>

    <div class="input_container">
      <i class="fa-regular fa-compass"></i>
      <select id="type-vehicle" [(ngModel)]="sectorSeleccionado" (ngModelChange)="onChangeSector($event)">
        <option value="sectores" selected disabled>Sectores</option>
        <!-- Seleccionar todas: -->
        <option value="">Todos</option>
        <option value="sur">Sur</option>
        <option value="centro">Centro</option>
        <option value="norte">Norte</option>
      </select>
    </div>
  </div>
</div>
