<!-- <div>
  <h2>Asesor</h2>
  <div *ngIf="userList.length > 0">
    <p>Usuarios en la sala:</p>

  </div>  <div *ngIf="userList.length === 0">
    <p>No hay usuarios en la sala.</p>
  </div>
  <ng-container>
    <div>
      <button (click)="disconnectUser()">Eliminar Chat</button>

      <input type="text"  placeholder="Mensaje">
    </div>
  </ng-container>
</div> -->
<div class="padre">
  <div class="app-container">
    <div class="app-left">
      <div class="app-left-header">
        <div class="app-logo" style="font-size: 2rem;">
          <!-- icono forntawesome GRANDE SUPPORT -->
          <i class="fas fa-headset"></i>
        </div>
        <h1>Chat de Asesores</h1>
      </div>
      <div class="app-profile-box">
        <div class="app-profile-box-name">En linea</div>
        <p class="app-profile-box-title">Staff</p>
      </div>
      <div class="chat-list-wrapper">
        <div class="chat-list-header" [ngClass] = "{'active': roomsActivo}" (click)="ocultar()">
          Active Conversations <span class="c-number">{{cantidadRooms}}</span>
          <svg class="list-header-arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" viewBox="0 0 24 24">
            <defs></defs>
            <path d="M18 15l-6-6-6 6"></path>
          </svg>
        </div>
        <!-- NGCLASS cuando le de click se ponga active y se quite cuando le de click a otro -->
        <ul class="chat-list" [ngClass] = "{'active': quiarChats}">
          <li class="chat-list-item" [ngClass] = "{'active': roomElegido === room.key}" *ngFor="let room of userList | keyvalue" (click)="verChat(room.key)">
            <span class="chat-list-name">{{ room.key }}</span>
            <div class="ultimo-mensaje">
              <div class="circulo" [ngClass] = "{'cicle-active': room.value.from === 'user'}"></div>
              <span>{{ room.value.message }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="app-main">
      <div class="header-chat">
        <div class="header-chat-name">{{roomElegido ? roomElegido : 'Nombre Room'}}</div>
        <!-- Cerrar Chat boton: -->
        <div class="cerrarChat btn" (click)="disconnectUser()">
          <button class="btn btn-danger">Cerrar Chat</button>
        </div>
      </div>
      <div class="chat-wrapper">
        <ng-container *ngFor="let mensaje of mensajes">
          <div class="mensajeSistema" *ngIf="mensaje.from === 'sistema'">{{ mensaje.message }}</div>
          <div class="message-wrapper" *ngIf="mensaje.from != 'sistema'" [ngClass]="mensaje.from">
<!--             <img
              class="message-pp"
              src= "./assets/{{mensaje.from}}.png"
              alt="profile-pic"
            /> -->
            <img class="message-pp" src= "https://w7.pngwing.com/pngs/221/585/png-transparent-financial-adviser-finance-bank-financial-planner-bank-service-investment-silhouette.png" alt="profile-pic" />
            <div class="message-box-wrapper">
              <div class="message-box">
                {{ mensaje.message }}
              </div>
              <span>{{mensaje.hora}}</span>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="chat-input-wrapper">
        <div class="input-wrapper">
          <input
            type="text"
            class="chat-input"
            placeholder="Escribe tu mensaje aqui..."
            [(ngModel)]="message"
            (keydown.enter)="sendMessage()"
            disabled="{{!roomElegido}}"
          />
        </div>
        <button class="chat-send-btn" (click)="sendMessage()" [disabled]="!roomElegido">Enviar</button>
      </div>
    </div>
  </div>
  </div>