<!-- FOOTER -->
<footer>
  <div class="informacion">
    <div class="col">
      <h3>Acerca de Lavasoft</h3>
      <ul>
        <li><a href="#">¿Quiénes somos?</a></li>
        <li><a href="#">Confianza y Seguridad</a></li>
        <li><a href="#">Recursos y políticas</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>¿Necesitas ayuda?</h3>
      <ul>
        <li><a [routerLink]="['/faq']">Preguntas Frecuentes</a></li>
        <li><a href="#">Contactanos</a></li>
        <li><a href="#">Términos y condiciones</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Idioma</h3>
      <!-- NO PUEDEN CAMBIAR DE IFIOMA -->
      <p>Esta es la versión de nuestro sitio web LAVASOFT destinada a quienes hablen español en Colombia. En el momento no estamos ofreciendo otro idioma.</p>
    </div>
    <div class="col">
      <h3>Redes Sociales</h3>
      <ul class="redes">
        <li><a title="instagram-link" href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a title="facebook-link" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a title="youtube-link" href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="credenciales">
    <ul>
      <li>© 2023 Lavasoft Industries
      </li>
      <li><a href="#">Politica y Pricavidad</a></li>
      <li><a href="#">Aviso Legal T&C</a></li>
      <li><a href="#">Politica Cookies</a></li>
    </ul>
  </div>
</footer>
<!-- ----------------------------  -->
