@import "../../../app.component.scss";

footer {
  background-color: $negro-claro;
  /* Tamaño se agranda dependiendo el contenido */

  width: 100%;
  /* En una variable guardar el tamaño actual de height */
  color: white;
  display: flex;
  flex-direction: column;
  /* Padding responsive */
  padding: 10px;

  .informacion {
    display: grid;
    grid-template-rows: 1fr;
    /* grid-template-columns de 4 columnas con la 3ra columna mas grande */
    grid-template-columns: 1fr 1fr 2fr 1fr;
    /* Espacio entre columnas */
    grid-column-gap: 1rem;
    /* Espacio entre filas */
    grid-row-gap: 1rem;
    /* padding automatico */
    padding: 1rem 10%;
    padding-top: 0.5rem;
    place-items: center;

    .col {
      h3 {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        /* Quitar bold */
        font-weight: 100;
      }

      p {
        font-size: 0.7rem;
        margin-bottom: 10px;
        font-weight: 150;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        &.redes {
          display: flex;
          flex-direction: row;
          li {
            padding-left: 8px;
            a {
              font-size: 1.9rem;
              color: rgba(255, 255, 255, 0.841);

              &:hover {
                color: $azul-oscuro;
              }
            }
          }
        }

        li {
          margin-bottom: 0.2rem;
          a {
            color: white;
            text-decoration: none;
            font-size: 0.7rem;
            /* Bold */
            font-weight: 400;

            &:hover {
              color: $azul-oscuro;
            }
          }
        }
      }

      select {
        background-color: $blanco;
        color: black;
        padding: 8px;
        border: none;

        /* Quitar efecto de seleccion */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background: url(https://cdn-icons-png.flaticon.com/512/32/32195.png) no-repeat 95% 50%;
        background-size: 15px;
        &:hover {
          cursor: pointer;
        }
        /*Filtrocambiarcolorablancobakcground*/
        filter: invert(100%);

      }
    }
  }

  .credenciales {
    text-align: center;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.476);

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 0;
      li {
        a {
          color: rgba(255, 255, 255, 0.476);
        }
      }
    }
  }
}