<div class="container_cards">
    <section class="cards">
        <div class="card">
            <h4>Title card</h4>
            <div class="icon_container"><i></i></div>
            <div class="options">
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
            </div>
            </div>
        <div class="card">
            <h4>Title card</h4>
            <div class="icon_container"><i></i></div>
            <div class="options">
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
            </div>
        </div>
        <div class="card">
            <h4>Title card</h4>
            <div class="icon_container"><i></i></div>
            <div class="options">
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
                <div class="option">
                    <div class="icon_option"><i></i></div> 
                    <div class="text_option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut velit ratione, impedit nesciunt maiores inventore?</div>
                </div>
            </div>
        </div>
    </section>
</div>