@import "../../../../../../src/app/app.component.scss";

*{
  margin: 0;
  padding: 0;
}
.contenedor{
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100%;
  padding-right: 10px;
}
.input-container{
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 2px solid $gris-claro;
      i{
          color: $gris-claro;
          font-size: 20px;
          height: auto;
          margin: 0px 10px 0px 10px;
          user-select: none;
      }
      &:hover{
          border-color: $negro_claro;
      }
      &:hover i{
        color: $negro_claro;
      }

      #search{
          padding: 10px;
          border: none;
          width: 90%;
          border-radius: 10px;
          color:$negro-claro;
          
    
          
          &:focus{
              outline: none;
          }
      }
}
.line{
  width: 200px;
  height: 0.5px;
  background:$gris-claro;
  margin: 15px 0px 15px 0px;
}
h2{
  margin-block-end: 20px;
}
.price{
  display: flex;
  flex-direction: column;



      div{
          margin-block: 5px;
          display: flex;
          align-items: center;
          .radio{
              width: 20px;
              height: 20px;
              margin-right:10px;

              &:checked{
                  appearance: none;
                  border: solid 2px $azul-oscuro !important;
                  border-radius: 10px;
                  background: radial-gradient($azul-oscuro, $blanco);
              }
          }
      }
}

.calification{
  margin-top: 10px;
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
  /* The switch - the box around the slider */
.switch {
  --sizeVar: 1.3em;
  --color-primary: #dedede;
  --color-secondary: #aaaaaa;
  --color-primary-on: #1d9bf0;
  --color-secondary-on: #ffffff;
 
  width: calc(var(--sizeVar) * 2);
  height: var(--sizeVar);
  background-color: var(--color-primary);
  border-radius: var(--sizeVar);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
  cursor: pointer;

  transition: background-color 150ms ease-out;
}

.switch::after {
  content: "";
  position: absolute;
  margin: calc(var(--sizeVar) / 10);
  height: calc(var(--sizeVar) - calc(var(--sizeVar) / 5));
  width: calc(var(--sizeVar) - calc(var(--sizeVar) / 5));
  background-color: var(--color-secondary);
  border-radius: var(--sizeVar);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset, 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 150ms ease-out, background-color 150ms ease-out;
}

.switch:has(input:checked)::after {
  transform: translateX(var(--sizeVar));
  background-color: var(--color-secondary-on);
}

.switch:has(input:checked) {
  background-color: var(--color-primary-on);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
 
  }




strong{
  margin-block: 10px;
}

/* 
  onAdd(map: mapboxgl.Map) {
    this.map = map;
    this.container = document.createElement('div');
    this.container.className = 'mapboxgl-ctrl mapboxgl-ctrl-group';

    this.button = document.createElement('button');
    this.button.className = 'mapboxgl-ctrl-icon mapboxgl-ctrl-buscar-lavaderos';
    this.button.type = 'button';
    this.button['aria-label'] = 'Buscar lavaderos';
    this.button.onclick = () => {
      console.log('Buscar lavaderos');
    };
    this.container.appendChild(this.button);

    return this.container;
  }

  onRemove() {
    this.container.parentNode?.removeChild(this.container);
    this.map = undefined!;
  } */

  .mapboxgl-ctrl-buscar-lavaderos {
    background-image: url(https://i.imgur.com/MK4NUzI.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .mapboxgl-ctrl-buscar-lavaderos:hover {
    transform: scale(1.1);
  }

  .mapboxgl-ctrl-buscar-lavaderos:focus {
    outline: none;
  }

  .mapboxgl-ctrl-buscar-lavaderos:active {
    transform: scale(0.9);
  }

  
