
<div class="contenedor">
  <form action="">
   <div class="line"></div>
   <section class="search">
       <h2>Busca tu lavadero</h2>

       <div class="input-container">
           <i class="fi fi-br-search"></i>
           <input type="text" id="search" placeholder="EJ. |  LavaSoft">
       </div>
   </section>
   <div class="line"></div>
   <section>
       <h5>Ubicación</h5>
       <div class="price">
        <div id="map" style="height: 200px;"></div>
       </div>

       
       <div class="calification">
        <strong>Calificaciones y mas populares</strong>
        <div class="d-flex justify-content-between align-items-center">
            <label for="best_califications"> <span>Mejor calificados</span></label>
            <label class="switch">
             <input type="checkbox" id="best_califications">
             <span class="slider"></span>
           </label>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <label for="best_califications"> <span>Más populares</span></label>
            <label class="switch">
             <input type="checkbox" id="best_califications">
             <span class="slider"></span>
           </label>
        </div>

         
       </div>
   </section>
  </form>
</div>