<div class="contenedor">
  <form action="">
    <div class="line"></div>
    <section class="search">
      <h2>Filtra tu busqueda</h2>
    </section>
    <div class="line"></div>
    <section>
      <h5>Ubicación</h5>
      <div class="price">
        <div id="map" style="height: 250px"><div class="loaderContainer" *ngIf="loadingMap"
          ><div class="loader"></div></div></div>
      </div>

      <h5 class="mt-2">filtrar por Vehiculos</h5>
      <div class="row tipoVehiculos">
        <div class="container_ col mt-2">
          <div class="radio-tile-group">
            <label for="motorcycle" class="input_container">
              <input
                id="motorcycle"
                class="radio-button"
                type="radio"
                name="radio"
                (change)="onRadioChange('Moto')"
              />
              <div class="radio-tile">
                <div class="icon">
                  <i class="fa-solid fa-motorcycle"></i>
                </div>
                <label class="radio-tile-label">Moto</label>
              </div>
            </label>
          </div>
        </div>
        <div class="container_ col mt-2">
          <div class="radio-tile-group">
            <label for="car" class="input_container">
              <input
                id="car"
                class="radio-button"
                type="radio"
                name="radio"
                (change)="onRadioChange('Carro')"
              />
              <div class="radio-tile">
                <div class="icon">
                  <i class="fa-solid fa-car-side"></i>
                </div>
                <label class="radio-tile-label">Carro</label>
              </div>
            </label>
          </div>
        </div>
        <div class="container_ col mt-2">
          <div class="radio-tile-group">
            <label for="truck_small" class="input_container">
              <input
                id="truck_small"
                class="radio-button"
                type="radio"
                name="radio"
                (change)="onRadioChange('Camioneta')"
              />
              <div class="radio-tile">
                <div class="icon">
                  <i class="fa-solid fa-truck-pickup"></i>
                </div>
                <label class="radio-tile-label">Camioneta</label>
              </div>
            </label>
          </div>
        </div>
        <div class="container_ col mt-2">
          <div class="radio-tile-group">
            <label for="truck_big" class="input_container">
              <input
                id="truck_big"
                class="radio-button"
                type="radio"
                name="radio"
                (change)="onRadioChange('Camion')"
              />
              <div class="radio-tile">
                <div class="icon">
                  <i class="fa-solid fa-truck"></i>
                </div>
                <label class="radio-tile-label">Camion</label>
              </div>
            </label>
          </div>
        </div>
        <div class="container_ col mt-2">
          <div class="radio-tile-group">
            <label for="van" class="input_container">
              <input
                id="van"
                class="radio-button"
                type="radio"
                name="radio"
                (change)="onRadioChange('Bus')"
              />
              <div class="radio-tile">
                <div class="icon">
                  <i class="fa-solid fa-van-shuttle"></i>
                </div>
                <label class="radio-tile-label">Bus</label>
              </div>
            </label>
          </div>
        </div>

        <div class="container_ col mt-2">
          <div class="radio-tile-group">
            <label for="van" class="input_container">
              <input
                id="van"
                class="radio-button"
                type="radio"
                name="radio"
                (change)="onRadioChange('')"
                checked
              />
              <div class="radio-tile">
                <div class="icon">
                  <i class="fa-solid fa-van-shuttle"></i>
                </div>
                <label class="radio-tile-label">Todos</label>
              </div>
            </label>
          </div>
        </div>
      </div>

      <div class="calification">
        <strong>Calificaciones y mas populares</strong>
        <div class="d-flex justify-content-between align-items-center">
          <label for="best_califications">
            <span>Mejor calificados</span></label
          >
          <label class="switch">
            <input
              type="checkbox"
              id="best_califications"
              (change)="Mejor_Calificados()"
            />
            <span class="slider"></span>
          </label>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <label for="best_califications"> <span>Más populares</span></label>
          <label class="switch">
            <input type="checkbox" id="best_califications" />
            <span class="slider"></span>
          </label>
        </div>
      </div>
    </section>
  </form>
</div>
