
<!-- User Profile -->
  <div class="container_all">
    <div class="content">
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <div class="user">
              <i class="fi fi-rs-circle-user"></i>
            </div>
          </div>
          <div class="card-body" *ngIf="usuario">
            <ul class="nav justify-content-center side-menu">
              <li class="nav-item">
                <a href="#" class="nav-link"> <h3>{{ usuario.nombre }}</h3></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><h3>{{ usuario.apellido }}</h3> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm mb-3">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"> <i class="fi fi-rr-car-bus"></i>Vehiculos disponibles</h3>
            <button type="button" class="btn btn-success" (click)="openModal(true , 'register_vehicle')">+</button>
            <ng-container *ngIf="usuario">
            <table class="table  table-hover">
            <thead>
              <tr class="table-active">
                <th>Tipo</th>
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let vehiculo of usuario.vehiculos">
                <th *ngIf="vehiculo.tipo_vehiculo === 'Moto'"><i class="fa-solid fa-motorcycle"></i></th>
                <th *ngIf="vehiculo.tipo_vehiculo === 'Carro'"><i class="fa-solid fa-car"></i></th>
                <th *ngIf="vehiculo.tipo_vehiculo === 'Camion'" ><i class="fa-solid fa-truck"></i></th>
                <th *ngIf="vehiculo.tipo_vehiculo === 'Camioneta'" ><i class="fa-solid fa-truck-pickup"></i></th>
                <th *ngIf="vehiculo.tipo_vehiculo === 'Bus'" ><i class="fa-solid fa-bus"></i></th>
                <td>{{vehiculo.placa}}</td>
                <td>{{vehiculo.marca}}</td>
                <td>{{vehiculo.modelo}}</td>
                <td><button type="button" class="danger" (click)="eliminarVehiculo(vehiculo._id)">-</button></td>
              </tr>
             </tbody>
            </table>
            <div *ngIf="usuario.vehiculos.length <= 0" class="mensajeNohayVehiculos">No hay vehiculos registrados a su nombre</div>
          </ng-container>
          </div>
        </div>
        <div class="accordion" id="primerAcordeon">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3 class="mb-0"><i class="fa fas fa-user-circle"></i>Editar perfil</h3>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample" #collapseOne>
              <div class="accordion-body">
                <form [formGroup]="usuarioForm">
                  <!-- Pagina 1 -->
                 
                    <h4>Informacion principal</h4>
          
                    <div class="input-container">
                      <img
                        src="../../../../assets/imgs/tarjeta-de-identificacion.png"
                        class="img-diferent"
                        alt=""
                      />
          
                      <input
                        class="input_text_form"
                        type="text"
                        placeholder="Nombres"
                        formControlName="nombre"
                        tabindex="-1"
                      />
                    </div>
                    <div class="errors">
                      <div
                        *ngIf="
                          usuarioForm.get('nombre').invalid &&
                          (usuarioForm.get('nombre').dirty ||
                            usuarioForm.get('nombre').touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="usuarioForm.get('nombre').hasError('required')">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                    <div class="input-container">
                      <img
                        src="/assets/imgs/tarjeta-de-identificacion.png"
                        class="img-diferent"
                        alt=""
                      />
          
                      <input
                        class="input_text_form"
                        type="text"
                        placeholder="Apellidos"
                        formControlName="apellido"
                        tabindex="-1"
                      />
                    </div>
          
                    <div class="errors">
                      <div
                        *ngIf="
                          usuarioForm.get('apellido').invalid &&
                          (usuarioForm.get('apellido').dirty ||
                            usuarioForm.get('apellido').touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="usuarioForm.get('apellido').hasError('required')">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
          
                  
          
                  <!-- Pagina 2 -->
                  <hr>
                    <h4>Informacion Secundaria</h4>
          
                    <div class="input-container">
                      <input
                        class="input_text_form"
                        type="date"
                        formControlName="fecha_nacimiento"
                        tabindex="-1"
                      />
                    </div>
          
                    <div class="errors">
                      <div
                        *ngIf="
                          usuarioForm.get('fecha_nacimiento').invalid &&
                          (usuarioForm.get('fecha_nacimiento').dirty ||
                            usuarioForm.get('fecha_nacimiento').touched)
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="usuarioForm.get('fecha_nacimiento').hasError('required')"
                        >
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
          
                    <div class="input-container">
                      <img src="../../../../assets/imgs/genero.png" alt="" />
          
                      <select id="sex" formControlName="genero" tabindex="-1">
                        <option value="" disabled selected>Genero</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                      </select>
                    </div>
          
                    <div class="errors">
                      <div
                        *ngIf="
                          usuarioForm.get('genero').invalid &&
                          (usuarioForm.get('genero').dirty ||
                            usuarioForm.get('genero').touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="usuarioForm.get('genero').hasError('required')">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
          
          
                  <!-- Pagina 3 -->
                  <hr>
                  
                    <h4>Contacto</h4>
          
                    <div class="input-container">
                      <img src="../../../../assets/imgs/correo-electronico.png" alt="" />
          
                      <input
                        class="input_text_form"
                        type="text"
                        formControlName="correo_electronico"
                        placeholder="Correo electronico"
                        tabindex="-1"
                      />
                    </div>
          
                    <div class="errors">
                      <div
                        *ngIf="
                          usuarioForm.get('correo_electronico').invalid &&
                          (usuarioForm.get('correo_electronico').dirty ||
                            usuarioForm.get('correo_electronico').touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="usuarioForm.get('correo_electronico').hasError('required')">
                          Este campo es requerido
                        </div>
                        <div *ngIf="usuarioForm.get('correo_electronico').hasError('email')">
                          El correo electrónico no es válido
                        </div>
                      </div>
                    </div>
          
                    <div class="input-container">
                      <img src="../../../../assets/imgs/llamada-telefonica.png" alt="" />
          
                      <input
                        class="input_text_form"
                        type="text"
                        formControlName="telefono"
                        placeholder="Telefono celular"
                        tabindex="-1"
                      />
                    </div>
          
                    <div class="errors">
                      <div
                        *ngIf="
                          usuarioForm.get('telefono').invalid &&
                          (usuarioForm.get('telefono').dirty || usuarioForm.get('telefono').touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="usuarioForm.get('telefono').hasError('required')">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                    <div class="btn-group">
                    <button class="btn btn-info" (click)="actualizar_Perfil()">Actualizar perfil</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
          </div>
        <div class="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <h3 class="mb-0"><i class="fa-solid fa-lock"></i>Cambiar contraseña</h3>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" #collapseTwo>
              <div class="accordion-body">
                <form [formGroup]="contrasenaForm">
                  <!-- Pagina 1 -->
                  
                    <h5>Contraseña actual</h5>
          
                    <div class="input-container">
                      <img
                        src="../../../../assets/imgs/llave.png"
                        class="img-diferent"
                        alt=""
                      />
          
                      <input
                        class="input_text_form"
                        type="password"
                        placeholder="Contraseña actual"
                        formControlName="contrasena"
                        tabindex="-1"
                      />
                    </div>
                    <div class="errors">
                      <div
                        *ngIf="
                        contrasenaForm.get('contrasena').invalid &&
                          (contrasenaForm.get('contrasena').dirty ||
                          contrasenaForm.get('contrasena').touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="contrasenaForm.get('contrasena').hasError('required')">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>

                    <hr>
                    <h5>Nueva contraseña</h5>
          
                    <div class="input-container">
                      <img
                        src="/assets/imgs/tarjeta-de-identificacion.png"
                        class="img-diferent"
                        alt=""
                      />
          
                      <input
                        class="input_text_form"
                        type="password"
                        placeholder="Nueva contraseña"
                        formControlName="nueva_contrasena"
                        tabindex="-1"
                      />
                    </div>
          
                    <div class="errors">
                      <div
                        *ngIf="
                        contrasenaForm.get('nueva_contrasena').invalid &&
                          (contrasenaForm.get('nueva_contrasena').dirty ||
                          contrasenaForm.get('nueva_contrasena').touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="contrasenaForm.get('nueva_contrasena').hasError('required')">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                    <div class="input-container">
                      <img
                        src="/assets/imgs/tarjeta-de-identificacion.png"
                        class="img-diferent"
                        alt=""
                      />
          
                      <input
                        class="input_text_form"
                        type="password"
                        placeholder="Confirmar contraseña"
                        formControlName="confirmar_contrasena"
                        tabindex="-1"
                      />
                    </div>
          
                    <div class="errors">
                      <div
                        *ngIf="
                        contrasenaForm.get('confirmar_contrasena').invalid &&
                          (contrasenaForm.get('confirmar_contrasena').dirty ||
                          contrasenaForm.get('confirmar_contrasena').touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="contrasenaForm.get('confirmar_contrasena').hasError('required')">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
        
                    <div class="btn-group">
                      <button class="btn btn-dark" (click)="cambiarContrasena()">Cambiar contraseña</button>
                    </div>
                    <div *ngIf="errorContrasena.length > 0" class="text-danger">
                      {{errorContrasena}}
                    </div>
                </form>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div class="modal" *ngIf="active" >
      <app-modal-vehicles (usuarioConVehiculoNuevo)="recibeActualizarVehiculoAgregado($event)"></app-modal-vehicles>
    </div>
  </div>



<div *ngIf="!usuario">
  <p>No se encontró información del usuario.</p>
</div>
<!-- /User Profile -->
<!-- 
  <div *ngIf="usuario">
  <p>Nombre: {{ usuario.nombre }}</p>
  <p>Email: {{ usuario.correo_electronico }}</p>

  Actualizar perfil boton router con parametro usuario._id
  <button routerLink="/perfil/{usuario._id}">Actualizar perfil</button>

 Cambiar contraseña boton router con parametro 
  <button routerLink="/actualizar-password">Cambiar contraseña</button>

  
  <button (click)="cerrarSesion()">Cerrar sesión</button>
  </div>

  <div *ngIf="!usuario">
    <p>No se encontró información del usuario.</p>
  </div>
 -->