<div class="contenedor">
  <ul>
    <li>
      <span class="material-icons-outlined"> notifications </span>
    </li>
    <li>
      <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" class="profile" />
      <ul>
        <li class="sub-item">
          <span class="material-icons-outlined"> manage_accounts </span>
          <p>Editar Perfil</p>
        <li class="sub-item" (click)="logout()">
          <span class="material-icons-outlined"> logout </span>
          <p>Cerrar Sesión</p>
        </li>
      </ul>
    </li>
  </ul>
</div>