<div class="container subscription-cards" *ngIf="!(auth.hasPaid | async) ; else paid">
  <h2 class="my-3">Selecciona el paquete que mejor se adapte a tus necesidades: </h2>
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card" style="width: 18rem;">
        <h2>Plan Básico</h2>
        <p>Detalles del plan básico:</p>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Perfil de negocio:
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Los administradores podrán crear y gestionar un perfil básico para su lavadero, que incluya información de contacto y ubicación.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Gestión de turnos:
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Los administradores podrán visualizar y administrar los turnos reservados por los usuarios.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Notificaciones:
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Recepción de notificaciones sobre nuevas reservas y recordatorios de turnos próximos.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Estadísticas básicas:
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Acceso a métricas sencillas como el número total de reservas realizadas en un período determinado.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Soporte básico:
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Asistencia técnica y soporte básico para resolver problemas relacionados con la plataforma.
              </div>
            </div>
          </div>
        </div>
        <p class="price mt-3">Precio: $29,900/mes</p>
        <p class="availability">No disponible en el momento</p>

        <button type="button" class="btn btn-primary" disabled>Adquirir plan</button>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <h2>Plan Premium<i class="bi bi-star-fill custom-star"></i></h2>
        <p>Detalles del plan premium:</p>
        <div class="accordion" id="accordionExampleP">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneP" aria-expanded="true" aria-controls="collapseOneP">
                Perfil avanzado:
              </button>
            </h2>
            <div id="collapseOneP" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleP">
              <div class="accordion-body">
                Los administradores podrán personalizar su perfil con información adicional, imágenes y detalles destacados.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoP" aria-expanded="false" aria-controls="collapseTwoP">
                Gestión de servicios:
              </button>
            </h2>
            <div id="collapseTwoP" class="accordion-collapse collapse" data-bs-parent="#accordionExampleP">
              <div class="accordion-body">
                La posibilidad de configurar y administrar diferentes tipos de servicios de lavado, detallado, pulido, entre otros.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeP" aria-expanded="false" aria-controls="collapseThreeP">
                Agenda completa:
              </button>
            </h2>
            <div id="collapseThreeP" class="accordion-collapse collapse" data-bs-parent="#accordionExampleP">
              <div class="accordion-body">
                Acceso a una agenda completa que muestra todos los turnos disponibles, ocupados y reservados.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourP" aria-expanded="false" aria-controls="collapseFourP">
                Notificaciones personalizadas:
              </button>
            </h2>
            <div id="collapseFourP" class="accordion-collapse collapse" data-bs-parent="#accordionExampleP">
              <div class="accordion-body">
                Posibilidad de enviar notificaciones personalizadas a los usuarios, como promociones o descuentos.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveP" aria-expanded="false" aria-controls="collapseFiveP">
                Soporte prioritario
              </button>
            </h2>
            <div id="collapseFiveP" class="accordion-collapse collapse" data-bs-parent="#accordionExampleP">
              <div class="accordion-body">
                Acceso a un servicio de soporte más rápido y prioritario para resolver cualquier problema o consulta.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixP" aria-expanded="false" aria-controls="collapseSixP">
                Estadísticas detalladas:
              </button>
            </h2>
            <div id="collapseSixP" class="accordion-collapse collapse" data-bs-parent="#accordionExampleP">
              <div class="accordion-body">
                Informes y análisis más profundos sobre las reservas, incluyendo gráficos y métricas más precisas.
              </div>
            </div>
          </div>
        </div>
        <p class="price mt-3">Precio: $49,900/mes</p>
        <!-- <p class="availability">Disponible</p> -->
        <a class="btn btn-primary" (click)="irAPagar()">Adquirir plan</a>
      </div>
    </div>
  </div>
</div>
<!-- Ya pago entonces algo como actualmente tiene el paquete premium, etc -->
<ng-template #paid>
  <div class="container payment-info">
    <h2 class="my-3">Información de la suscripción:</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <h2>Paquete actual: Plan Premium <i class="bi bi-star-fill custom-star"></i></h2>
          <p>Detalles del paquete:</p>
          <ul>
            <li>Perfil avanzado: Los administradores pueden personalizar su perfil con información adicional, imágenes y detalles destacados.</li>
            <li>Gestión de servicios: Configura y administra diferentes tipos de servicios de lavado, detallado, pulido, entre otros.</li>
            <li>Agenda completa: Accede a una agenda que muestra todos los turnos disponibles, ocupados y reservados.</li>
            <li>Notificaciones personalizadas: Envía notificaciones personalizadas a los usuarios, como promociones o descuentos.</li>
            <li>Soporte prioritario: Acceso a un servicio de soporte más rápido y prioritario para resolver problemas o consultas.</li>
            <li>Estadísticas detalladas: Informes y análisis más profundos sobre las reservas, incluyendo gráficos y métricas precisas.</li>
          </ul>
          <p class="price mt-3">Precio: $49,900/mes</p>
          <p class="package-status">Estado de la suscripción: Activa</p>
          <div class="change-package">
            <h3>¿Deseas cambiar de paquete?</h3>
            <p>Selecciona uno de los paquetes disponibles:</p>

            <div class="row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card" style="width: 18rem;">
                  <h4 style="height: 36px;">Plan Básico</h4>
                  <p class="price">Precio: $29,900/mes</p>
                  <div>NO DISPONIBLE</div>
                  <button type="button" class="btn btn-check" disabled>Cambiar a este plan</button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                  <h4>Plan Premium <i class="bi bi-star-fill custom-star"></i></h4>
                  <p class="price">Precio: $49,900/mes</p>
                  <button type="button" class="btn btn-primary" disabled>Seleccionado</button>
                </div>
              </div>
            </div>
          </div>

          <div class="cancel-package">
            <h3>¿Deseas cancelar tu suscripción?</h3>
            <p>Una vez cancelada, perderás los beneficios del paquete actual.</p>
            <button type="button" class="btn btn-danger">Cancelar suscripción</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Información adicional del paquete, como estadísticas, etc. -->
      </div>
    </div>
  </div>
</ng-template>
