<div class="container_all">
    <div class="header d-flex justify-content-between p-3">
        <h4 class="mb-0"><i class="fa-regular fa-calendar-xmark me-2"></i>Cancelar Reserva</h4>

        <input type="button" class="close" (click)="closeModal()" value="X">
    </div>

    <div class="body d-flex flex-column gap-2 align-items-center p-3">
  
        <div class="input-container">
            <i class="fa-solid fa-person-circle-question"></i>
            <select name="causante">
                <option value="" selected disabled>Causante</option>
                <option value=""> Cliente</option>
                <option value=""> Lavadero</option>
    
            </select>
        </div>
        <div class="input-container">
            <i class="fa-solid fa-stamp"></i>
        <select name="motivo">
            <option value="" selected disabled>Motivo</option>
            <option value=""> Cliente</option>
            <option value=""> Lavadero</option>

        </select>

        </div>
        

   
    <div class="w-100">
        <h5>Observaciones</h5>
        <div class="input-container">
            <textarea name="" id="" cols="30" rows="10">

            </textarea>
        </div>
    </div>



        <div class="button">
            <input type="button" class="cancel" value="Confirmar">
        </div>

       
    </div>
</div>