@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import "../../../app.component.scss";

.app-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 24px;
  max-width: 1800px;
}

/*    */
.app-main {
  flex: 3;
  bottom: 0;
  right: 40px;
  position: fixed;
  height: 50px;
  width: 350px;
  background-color: #12172d;
  padding: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  transition: height 0.5s;
  z-index: 50;
}

.app-main.expanded {
  height: 500px;
}

.chat-wrapper {
  overflow: auto;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 0;
  height: 100%;
}
.chat-input {
  border: none;
  outline: none;
  height: 32px;
  flex: 1;
  margin-right: 4px;
  background-color: #060415;
  color: #fff;
}
.chat-input:placeholder {
  color: #445e78;
  font-size: 12px;
}
.chat-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(18, 23, 45, 0.6) 0px 8px 24px;
  border-radius: 0px;
  padding: 8px;
  background-color: #060415;
}
.input-wrapper {
  border: 1px solid #8187a2;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 0 6px 0 12px;
  justify-content: space-between;
  margin: 0 8px;
  background-color: #060415;
}

.chat-send-btn {
  height: 32px;
  color: #fff;
  background-color: $azul-oscuro;
  border: none;
  border-radius: 4px;
  padding: 0 32px 0 10px;
  font-size: 12px;
  background-position: center right 8px;
  background-repeat: no-repeat;
  background-size: 14px;
  line-height: 16px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M481.508 210.336L68.414 38.926c-17.403-7.222-37.064-4.045-51.309 8.287C2.86 59.547-3.098 78.551 1.558 96.808L38.327 241h180.026c8.284 0 15.001 6.716 15.001 15.001 0 8.284-6.716 15.001-15.001 15.001H38.327L1.558 415.193c-4.656 18.258 1.301 37.262 15.547 49.595 14.274 12.357 33.937 15.495 51.31 8.287l413.094-171.409C500.317 293.862 512 276.364 512 256.001s-11.683-37.862-30.492-45.665z'/%3E%3C/svg%3E");
}
.chat-attachment-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  color: #445e78;
  display: flex;
  align-items: center;
  opacity: 0.7;
}
.message-wrapper {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
}
.message-wrapper.user {
  justify-content: flex-end;
}
.message-wrapper.user .message-box {
  background-color: #8187a2;
  color: #fff;
}
.message-wrapper.user .message-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.message-wrapper.user .message-pp {
  order: 2;
}

.message-pp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
.message-box {
  background-color: #fff;
  box-shadow: rgba(18, 23, 45, 0.6) 0px 8px 24px;
  border-radius: 4px;
  padding: 9px;
  font-size: 12px;
  line-height: 16px;
  width: auto;
  color: #1a2f45;
  max-width: 300px;
  height: auto;
  word-wrap: break-word;
}
.message-box-wrapper {
  margin: 0 6px;
}
.message-box-wrapper span {
  font-size: 10px;
  line-height: 16px;
  color: #9bbbdb;
  opacity: 0.6;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(43, 88, 118, 0.8),
    rgba(78, 67, 118, 0.8)
  );;
}

.header-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 50px;
  background-color: #060415;
  border-bottom: 1px solid $azul-oscuro;

  /* radius arriba: */
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.header-chat-name {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
}

.hidden {
  display: none;
}

.mensajeSistema{
  color: #fff;
  display: flex;
  justify-content: center;
  background-color: #7f89b32b;
  margin-bottom: 20px;
  border-radius: 10px;
}

.primerMensajeSistema{
  color: #ffffff9e;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 10px;
}


  span{
    font-size: .8rem;
    color: white;
    padding: .5rem ;
  }
