<form class="form" [formGroup]="vehiculoForm">
  <p class="title">
    <span class="ms-2">
      {{ tipoVehiculo != undefined ? 'Registra tu ' + tipoVehiculo : 'Registrar Vehiculo' }}
    </span> <span (click)="closeModal(false , 'vehicle_reserve')" class="close">x</span>
  </p>
  <p class="message">
    Llena todos los campos con informacion valida , esta se utilizara para
    identificar tu vehiculo.
  </p>

  <div class="flex">
    <div>
      <label>
        <input
          required=""
          placeholder=""
          type="text"
          class="input"
          formControlName="placa"
        />
        <span>Placa</span>
      </label>
      <div class="errors">
        <div
          *ngIf="
            vehiculoForm.get('placa').invalid &&
            (vehiculoForm.get('placa').dirty || vehiculoForm.get('placa').touched)
          "
          class="text-danger"
        >
          <div *ngIf="vehiculoForm.get('placa').hasError('required')">
            Este campo es requerido
          </div>
        </div>
      </div>
    </div>

    <div>
      <label>
        <input
          required=""
          placeholder=""
          type="text"
          class="input"
          formControlName="marca"
        />
        <span>Marca</span>
      </label>
      <div class="errors">
        <div
          *ngIf="
            vehiculoForm.get('marca').invalid &&
            (vehiculoForm.get('marca').dirty || vehiculoForm.get('marca').touched)
          "
          class="text-danger"
        >
          <div *ngIf="vehiculoForm.get('marca').hasError('required')">
            Este campo es requerido
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="colum">
    <label>
      <input
        required=""
        placeholder=""
        type="text"
        class="input"
        formControlName="modelo"
      />
      <span>Modelo</span>
    </label>

    <div class="errors">
      <div
        *ngIf="
          vehiculoForm.get('modelo').invalid &&
          (vehiculoForm.get('modelo').dirty || vehiculoForm.get('modelo').touched)
        "
        class="text-danger"
      >
        <div *ngIf="vehiculoForm.get('modelo').hasError('required')">
          Este campo es requerido
        </div>
      </div>
    </div>
  </div>

  <div class="colum">
    <label>
      <span *ngIf="tipoVehiculo" class="informacion"> Ya que estas en la categoria {{tipoVehiculo}} no puedes cambiarla</span>
      <select id="type-vehicle" formControlName="tipo_vehiculo">
        <option disabled selected value="">Tipo Vehículo</option>
        <ng-container *ngIf="tipoVehiculo ; else elseBlock">
          <option value="{{tipoVehiculo}}" selected>{{tipoVehiculo}}</option>
        </ng-container>

        <ng-template #elseBlock>
          <option value="Moto">Moto</option>
          <option value="Carro">Carro</option>
          <option value="Camioneta">Camioneta</option>
          <option value="Camion">Camion</option>
          <option value="Bus">Bus</option>
        </ng-template>

      </select>
    </label>

    <div class="errors">
      <div
        *ngIf="
          vehiculoForm.get('tipo_vehiculo').invalid &&
          (vehiculoForm.get('tipo_vehiculo').dirty ||
            vehiculoForm.get('tipo_vehiculo').touched)
        "
        class="text-danger"
      >
        <div *ngIf="vehiculoForm.get('tipo_vehiculo').hasError('required')">
          Este campo es requerido
        </div>
      </div>
    </div>
  </div>
  <button class="submit" (click)="agregarVehiculo()">Agregar</button>
</form>
