@import "../../../../../src/app/app.component.scss";
.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  
  .title {
    font-size: 28px;
    color: $azul-oscuro;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;

    .close{
      cursor: pointer;
      position: absolute;
      right: -5px;
      width: 45px;
      text-align: center;
      font-size: 25px;
      padding: 0px 0px 5px;
      border-radius: 50px;
      transition: all 450ms;
      &:hover{
        background: $azul-oscuro ;
        color: $blanco;
        box-shadow: 0px 0px 5px 5px $azul-claro;
      }
    }
    
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    font-family: "Font Awesome 5 Free";
    content: '\f1b9';
    font-size: 15px;
    color: #fff;
    padding: 2px 5px 0px 5px;
    width: 25px;
    height: 25px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 25px;
    height: 25px;
    animation: pulse 1s linear infinite;
  }
  
  .message{
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
  }
  
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 35px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }

  .errors{
    height: 15px;
    width: 150px;
    color:$errores;
    font-size: 10px;
    align-self: flex-start;
}
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }

  .colum{
    display: flex;
    flex-direction: column;
  }

  select{  
    -webkit-appearance:none; 
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    background: url(https://cdn-icons-png.flaticon.com/512/32/32195.png) no-repeat 95% 50%;
    background-size: 10px;
    border-radius: 10px;
    padding-left: 10px;
    width: 100%;
    font-size: 14px;
    color: $gris-oscuro;
    font-weight: 300;
    height: 50px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    cursor: pointer;
    
  
      &:hover{
          color: $negro_claro;
      }
          
      &:focus{
          outline: none !important;
      }
  }
  
  select::-ms-expand {
      display: none;
   }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }