<div class="container_all">
    <div class="text-center">
        <h2>{{nombreLavadero}}</h2>
        <button class="Btn" (click)="openModal(true , 'reports' )">
  
            <div class="sign"><i class="fi fi-sr-engine-warning"></i></div>
            
            <div class="text">Reportar</div>
          </button>         
    </div>
    <div class="contenedor">   
        <div class="d-flex flex-column justify-content-between data">
            <div class="row justify-content-md-center">
                
                <div class="col col-3">
                    <span class="title">Ciudad</span>
                    <h5 class="description">Armenia Quindio</h5>
                </div>
                <div class="col col-4">
                    <span class="title">Direccion</span>
                    <h5 class="description">cr 12 cll 7-18</h5>
                </div>
                <div class="col col-4">
                    <span class="title">Telefono</span>
                    <h5 class="description">+57 3104010625</h5>
                </div>
           
       
    <div class="d-flex flex-column justify-content-between data">
        <div class="row justify-content-md-center">
            
            <div class="col col-3">
                <span class="title">Ciudad</span>
                <h5 class="description">{{ciudad}}</h5>
            </div>
            <div class="col col-4">
                <span class="title">Direccion</span>
                <h5 class="description">{{direccion}}</h5>
            </div>
            <div class="col col-4">
                <span class="title">Telefono</span>
                <h5 class="description">+57 3104010625</h5>
            </div>
       
    
            <div class="col col-5">
                <span class="title">Vehiculos que manejamos</span>
                <div class="types d-flex justify-content-around">
                    <i class="fa-solid fa-motorcycle"></i>
                    <i>-</i>
                    <i class="fa-solid fa-car-side"></i>
                    <i>-</i>
                    <i class="fa-solid fa-truck-pickup"></i>
                    <i>-</i>
                    <i class="fa-solid fa-truck"></i>
                    <i>-</i>
                    <i class="fa-solid fa-van-shuttle"></i>
                </div>
        
        
             
        
            </div>
    
            <div class="col col-3">
                <span class="title">Hora abertura</span>
                <h5 class="description">{{hora_apertura}}</h5>
            </div>
    
            <div class="col col-3">
                <span class="title">Hora salida</span>
                <h5 class="description">{{hora_cierre}}</h5>
            </div>
        </div>
    </div>
    <div class="modal" *ngIf="active">
        <app-reportes></app-reportes>
    </div>
</div>
