@import '../../../../app.component.scss';

.container_all{
    width: 100%;
}
.text-center{

    color: $negro-claro;
    padding-block: 1rem;
h2{
    margin: 0;
}
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $negro-claro;
    width: 100%;

    .data{
        width: 70%;
        padding: 15px;
        background: $negro-claro;
        border-radius: 10px;
        color: $blanco;

    }
    .svg{
        width:500px;

        img{
            max-width: 100%;
            max-height: 100%
        }
    }



}

.types{
    i{
        font-size: 25px;
        color: $gris-claro;
    }
    
}
.row{
padding: 10px;
border-radius: 10px;
gap: 10px;

}

.col{
    border-bottom: 1px solid $gris-claro;

    h5{
        margin-bottom: 0;
    }
}