<div class="container">
  <form action="">
    <div class="close">
      <h2>Reservar</h2>
      <input type="button" value="X" (click)="closeModal(false, 'reserve')" />
    </div>
    <div class="content" [ngStyle]="{ 'margin-left': margin }">
      <div class="page">
        <div class="input-container position-relative w-75"  >
          <i class="fa-solid fa-car"></i>
          <select class="inputs" name="vehiculo" id="vehiculo" (change)="onSelectVehiculo($event)">
            <option value="" selected disabled>Seleciona tu vehiculo</option>
            <option *ngIf="vehiculos.length <= 0" disabled>
              No tienes vehiculos registrados
            </option>
            <option *ngFor="let vehiculo of vehiculos" value="{{ vehiculo._id }}">
              {{ vehiculo.placa }}  |  {{ vehiculo.tipo_vehiculo }}
            </option>
          </select>

          <button class="btn btn-success">+ Agregar</button>
        </div>
        <div class="description">
          <h4>Servicios a reservar</h4>
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Duración</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of ServiciosSeleccionados">
                <td>{{ service.nombre }}</td>
                <!-- Duracion son minutos, deseo verlos algo asi 00:30min -->
                <td>{{ service.duracion }}</td>
                <td>{{ service.costo | currency }}</td>
              </tr>
            </tbody>
          </table>
          <p>TOTAL: {{ sumaTotal() | currency }}</p>
        </div>
      </div>
      <div class="page p2">
        <h4>Dia de reserva:</h4>
        <div class="booking-container d-flex justify-content-between">
          <div class="button-container">
            <button class="arrow-button btn" (click)="scrollPrevious()">
              ←
            </button>
          </div>
          <div id="container" class="dates-container">
            <div
              *ngFor="let date of day"
              class="dates-list"
              (click)="cambiar(date)"
              [ngClass]="{'selected': index === date.index}"
            >
            <div class="day">{{date.day}}</div>
            <div class="date">{{date.date}}</div>
            </div>
          </div>
          <div class="button-container">
            <button class="arrow-button btn" (click)="scrollNext()">→</button>
          </div>
        </div>
        <div class="container-time">
          <div class="container-time-name">
            <div class="name">
              <h4>AM</h4>
              <div class="times">
                <div class="box_time" *ngFor="let hora of horaAM" (click)="seleccionarHora(hora)" [ngClass]="{'horaSelect': horaSeleccionada === hora}">
                  <span>{{hora}}</span>
                </div>
              </div>
            </div>
            <div class="name">
              <h4>PM</h4>
              <div class="times">
                <div class="box_time" *ngFor="let hora of horaPM" (click)="seleccionarHora(hora)" [ngClass]="{'horaSelect': horaSeleccionada === hora}">
                  <span>{{hora}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-bottom">
      <div class="buttons">
        <input
          *ngIf="page2 == true"
          (click)="page('back')"
          type="button"
          class="atras"
          value="atras"
        />
        <input
          *ngIf="page2 == false"
          (click)="page('next')"
          type="button"
          class="siguiente"
          value="Siguiente"
        />
        <input
          *ngIf="page2 == true"
          (click)="reservar()"
          type="button"
          class="siguiente"
          value="finalizar"
        />
      </div>
    </div>
  </form>

  <div class="modal" *ngIf="active">
    <app-modal-vehicles></app-modal-vehicles>
  </div>
</div>
