<div class="contenedor-padre">
  <div class="contenedor">
    <div class="navegacion" [ngClass]="{'active': ocultarMenu}">
      <ul>
        <li>
          <a >
            <span class="icon">
              <fa-icon [icon]="titulo"></fa-icon>
            </span>
            <span class="title">Lavadero Dashboard</span>
          </a>
        </li>
        <!-- <li routerLink="/dashboard-admin/panel" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="dashboard"></fa-icon>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li> -->

        <li routerLink="/dashboard-lavadero/editarPerfil" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="perfilLavadero"></fa-icon>
            </span>
            <span class="title">Perfil Lavadero</span>
          </a>
        </li>

        <li routerLink="/dashboard-lavadero/reservas" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="peticionEmpresa"></fa-icon>
            </span>
            <span class="title">Reservas</span>
          </a>
        </li>


        <li routerLink="/dashboard-lavadero/historial" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="reportes"></fa-icon>
            </span>
            <span class="title">Historial - Estadisticas</span>
          </a>
        </li>
        <li routerLink="/dashboard-lavadero/subscripcion" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="membresia"></fa-icon>
            </span>
            <span class="title">Subscripcion</span>
          </a>
        </li>
        <!-- Volver al inicio -->
        <li routerLink="/inicio" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="inicio"></fa-icon>
            </span>
            <span class="title">Volver al Inicio</span>
          </a>
        </li>

        <!-- <li routerLink="/dashboard-admin/chat-asesor" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="chatAsesor"></fa-icon>
            </span>
            <span class="title">Chat Asesor</span>
          </a>
        </li> -->

        <li (click)="cerrarSesion()">
          <a >
            <span class="icon">
              <fa-icon [icon]="salir"></fa-icon>
            </span>
            <span class="title">Cerrar Sesión</span>
          </a>
        </li>
        <!--  aqui se ve mejor el boton ocultar menu -->
        <div class="menu" (click)="ocultarMenu = !ocultarMenu">
          <!-- <fa-icon [icon]="menu"></fa-icon> -->
          <i class="fa-sharp fa-solid fa-circle-chevron-left fa-xs" style="color: #fafcff;"></i>

        </div>
      </ul>

    </div>

    <!-- ========================= principal ==================== -->
    <div class="principal" [ngClass]="{'active': ocultarMenu}">


      <div class="barraArriba navbar shadow">
        <div class="menu" (click)="ocultarMenu = !ocultarMenu">
          <fa-icon [icon]="menu"></fa-icon>
        </div>

        <div class="titulo">
            <!-- Dependiendo que tenga el router link es el titulo h1: routerLink de manera dinamica: -->
            <div *ngIf="router.url == '/dashboard-admin/dashboard'">Dashboard</div>
            <div *ngIf="router.url == '/dashboard-admin/peticion-empresa'">Petición Empresa</div>
            <div *ngIf="router.url == '/dashboard-admin/reportes'">Reportes</div>
            <div *ngIf="router.url == '/dashboard-admin/chat-asesor'">Chat Asesor</div>
        </div>

        <div class="user"></div>
      </div>

      <div class="sub_secction">

        <router-outlet></router-outlet>
      </div>
   </div>

  </div>

</div>
<app-loaders *ngIf="isLoading"></app-loaders>

<div class="modal" *ngIf="modal_cancel">
  <app-cancelar-reservas ></app-cancelar-reservas>
</div>

<div class="modal" *ngIf="modal_employee">
  <app-add-employee></app-add-employee>
</div>
