<div class="contenedor-padre">
  <div class="contenedor">
    <div class="navegacion" [ngClass]="{'active': ocultarMenu}">
      <ul>
        <li>
          <a >
            <span class="icon">
              <fa-icon [icon]="titulo"></fa-icon>
            </span>
            <span class="title">Lavadero Dashboard</span>
          </a>
        </li>
        <!-- <li routerLink="/dashboard-admin/panel" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="dashboard"></fa-icon>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li> -->

        <li routerLink="/dashboard-lavadero/edit-profile-carwash" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="reportes"></fa-icon>
            </span>
            <span class="title">Perfil Lavadero</span>
          </a>
        </li>

        <li routerLink="/dashboard-lavadero/reservas" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="peticionEmpresa"></fa-icon>
            </span>
            <span class="title">Reservas</span>
          </a>
        </li>


        <li routerLink="/dashboard-lavadero/historial" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="reportes"></fa-icon>
            </span>
            <span class="title">Historial - Estadisticas</span>
          </a>
        </li>
        <li routerLink="/dashboard-lavadero/subscripcion" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="membresia"></fa-icon>
            </span>
            <span class="title">Subscripcion</span>
          </a>
        </li>
        <!-- Volver al inicio -->
        <li routerLink="/inicio" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="inicio"></fa-icon>
            </span>
            <span class="title">Volver al Inicio</span>
          </a>
        </li>

        <!-- <li routerLink="/dashboard-admin/chat-asesor" [routerLinkActive]="['hovered']">
          <a >
            <span class="icon">
              <fa-icon [icon]="chatAsesor"></fa-icon>
            </span>
            <span class="title">Chat Asesor</span>
          </a>
        </li> -->

        <li (click)="cerrarSesion()">
          <a >
            <span class="icon">
              <fa-icon [icon]="salir"></fa-icon>
            </span>
            <span class="title">Cerrar Sesión</span>
          </a>
        </li>
        <!--  aqui se ve mejor el boton ocultar menu -->
        <div class="menu" (click)="ocultarMenu = !ocultarMenu">
          <!-- <fa-icon [icon]="menu"></fa-icon> -->
          <i class="fa-sharp fa-solid fa-circle-chevron-left fa-xs" style="color: #fafcff;"></i>

        </div>
      </ul>

    </div>

    <!-- ========================= principal ==================== -->
    <div class="principal" [ngClass]="{'active': ocultarMenu}">
      <!-- <header class="py-3 mb-3 border-bottom shadow">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <
            </a>

          </div>

          <div class="d-flex align-items-center">
            <form class="w-100 me-3" role="search">
              <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">

            </form>

            <div class="flex-shrink-0 dropdown">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header> -->
      <div class="barraArriba navbar shadow">
        <div class="menu" (click)="ocultarMenu = !ocultarMenu">
          <fa-icon [icon]="menu"></fa-icon>
        </div>

        <div class="titulo">
            <!-- Dependiendo que tenga el router link es el titulo h1: routerLink de manera dinamica: -->
            <div *ngIf="router.url == '/dashboard-admin/dashboard'">Dashboard</div>
            <div *ngIf="router.url == '/dashboard-admin/peticion-empresa'">Petición Empresa</div>
            <div *ngIf="router.url == '/dashboard-admin/reportes'">Reportes</div>
            <div *ngIf="router.url == '/dashboard-admin/chat-asesor'">Chat Asesor</div>
        </div>

        <div class="user"></div>
      </div>

      <div class="container">

        <router-outlet></router-outlet>
      </div>


       <!-- Footer -->
       <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; LavaSoft 2023</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    </div>

  </div>

</div>
<app-loaders *ngIf="loader.isLoading$ | async"></app-loaders>
<div class="modal" *ngIf="(modalService.$modal_cancel | async)">
  <app-cancelar-reservas ></app-cancelar-reservas>
</div>

<div class="modal" *ngIf="(modalService.$modal_employee | async)">
  <app-add-employee></app-add-employee>
</div>