<div class="container_all">
    <div class="header">
        <h2 class="mb-0">Historial de Resevas</h2> 

        <input type="button" value="X" >
    </div>


    <div class="body p-4">
        <div class="filter">
            <div class="row">
                <div class="col">
                    <div class="input-container">
                        <i class="fi fi-rr-clipboard-list-check"></i>

                        <select name="" id="">
                            <option value="" selected disabled> Estado</option>
                            <option value="">Pendiente</option>
                            <option value="">Proceso</option>
                            <option value="">Terminado</option>
                            <option value="">Cancelado</option>
                            <option value="">Todos</option>
                        </select>        
                    </div>
                </div>

                <div class="col">
                    <div class="input-container">
                        
                        <i class="fi fi-rr-garage-car"></i>

                        <select name="" id="">
                            <option value="" selected disabled>Tipo </option>
                            <option value="">Moto</option>
                            <option value="">Carro</option>
                            <option value="">Camioneta</option>
                            <option value="">Camion</option>
                            <option value="">Bus</option>
                            <option value="">Todos</option>
                        </select>   
                    </div>
                </div>

                <div class="col">
                    <div class="input-container">
                        <i class="fi fi-rr-calendar-day"></i>

                        <input type="date" name="" id="">  
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="info">
                        <div class="info-item">
                          <div class="info-color info-color-pendiente"></div>
                          <span>Pendiente</span>
                        </div>
                        <div class="info-item">
                          <div class="info-color info-color-proveso"></div>
                          <span>En Proceso</span>
                        </div>
                        <div class="info-item">
                          <div class="info-color info-color-terminado"></div>
                          <span>Terminado</span>
                        </div>
                      
                      <div class="info-item">
                        <div class="info-color info-color-cancelado"></div>
                        <span>Cancelado</span>
                      </div>
                    </div>

                
                </div>

              

            </div>
        </div>
        <div class="history">
            <table class="table  mb-0 mt-2 ">
                <thead>
                  <tr class="table-active">
                    <th>N°</th>
                    <th>lavadero</th>
                    <th>Precio Total</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                
                <tbody >
    
                    <!-- PRINCIPAL -->
                  <tr class="table_header">
                    <th class="text-center">1</th>
                    <td>AutoiLmpio </td>
                    <td>$300.000</td>
                    <td><span  class="badge text-bg-success">Completada</span></td>
                  </tr>
                  
    
                    <!--  MAS INFORMACION -->
                  <tr>
                    <td colspan="4" class="view_all">
                        <details>
                            <summary>Ver mas</summary>
                     <div>
                        <table class="table mt-2">
                            <thead class="table_header p-2">
                              <th>Nombre Servicio</th>
                              <th>Precio</th>
                              <th>Duracion</th>
                            </thead>
      
                            <tbody class="" >
                              <tr>
                                  <td>Encerado mate</td>
                                  <td>100.000</td>
                                  <td>45 Min</td>
                              </tr>
                              <tr>
                                  <td>lavado sencillo</td>
                                  <td>100.000</td>
                                  <td>45 Min</td>
                              </tr>
                              <tr>
                                  <td>lavado de llantas</td>
                                  <td>100.000</td>
                                  <td>45 Min</td>
                              </tr>
                            </tbody>
                          </table>
                     </div>
                     <div class="d-grid ">
                        <button class="btn btn-danger" type="button">Cancelar</button>
                      </div>
                        </details>
                    </td>


                  </tr>
  
                   
                    <!-- HEADER -->
                    <tr class="table_header">
                        <th class="text-center">1</th>
                        <td>AutoiLmpio </td>
                        <td>$300.000</td>
                        <td><span  class="badge text-bg-danger">Cancelada</span></td>
                      </tr>
        
                        <!-- TITLE SERViCIOS -->
                      <tr class="table-active">
                        <th colspan="4">Servicios</th>
                      </tr>
                      <!-- SERVICIOS -->
                      <tr>
                        <td colspan="4">
                            <table class="table mb-0">
                              <thead >
                                <th>Nombre Servicio</th>
                                <th>Precio</th>
                                <th>Duracion</th>
                              </thead>
        
                              <tbody>
                                <tr>
                                    <td>Encerado mate</td>
                                    <td>100.000</td>
                                    <td>45 Min</td>
                                </tr>
                                <tr>
                                    <td>lavado sencillo</td>
                                    <td>100.000</td>
                                    <td>45 Min</td>
                                </tr>
                                <tr>
                                    <td>lavado de llantas</td>
                                    <td>100.000</td>
                                    <td>45 Min</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                      </tr>
    
                </tbody>
    
              </table>
        </div>
    </div>
</div>