<div class="container-cards">
    <div class="container">
        <div class="container-img">
            <img src="../../../../../assets/imgs/lavadero.png" alt="">
        </div>
        <div class="data-carwash">
            <div class="data">
                <h2>Nombre del lavadero</h2>
                <div id="stars">★★★★★</div> 
              
            </div>
            <div class="data">
                <div class="ubication-container"><i class="fi fi-sr-marker icon-ubication"></i> <span id="ubication">ubicacion del lavadero</span></div>
                <div class="container-icons">
                    <strong>vehiculos que manejamos:</strong>
                    <i class="fi fi-ss-motorcycle icon"></i>
                    <i class="fi fi-br-car icon"></i>
                    <i class="fi fi-bs-truck-pickup icon"></i>
                    <i class="fi fi-bs-truck-moving icon"></i>
                    <i class="fi fi-rr-bus icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-img">
            <img src="../../../../../assets/imgs/lavadero.png" alt="">
        </div>
        <div class="data-carwash">
            <div class="data">
                <h2>Nombre del lavadero</h2>
                <div id="stars">★★★★★</div> 
              
            </div>
            <div class="data">
                <div class="ubication-container"><i class="fi fi-sr-marker icon-ubication"></i><span id="ubication">ubicacion del lavadero</span></div>
                <div class="container-icons">
                    <strong>vehiculos que manejamos:</strong>
                    <i class="fi fi-ss-motorcycle icon"></i>
                    <i class="fi fi-br-car icon"></i>
                    <i class="fi fi-bs-truck-pickup icon"></i>
                    <i class="fi fi-bs-truck-moving icon"></i>
                    <i class="fi fi-rr-bus icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-img">
            <img src="https://img.freepik.com/vector-gratis/logo-diseno-lavado-coches_23-2149935599.jpg?w=826&t=st=1682178421~exp=1682179021~hmac=ed63c3ceda4129aac14e2dd13725261a459add3aa073e275748896b5e125b991" alt="">
        </div>
        <div class="data-carwash">
            <div class="data">
                <h2>Nombre del lavadero</h2>
                <div id="stars">★★★★★</div> 
              
            </div>
            <div class="data">
                <div class="ubication-container"><i class="fi fi-sr-marker icon-ubication"></i> <span id="ubication">ubicacion del lavadero</span></div>
                <div class="container-icons">
                    <strong>vehiculos que manejamos:</strong>
                    <i class="fi fi-ss-motorcycle icon"></i>
                    <i class="fi fi-br-car icon"></i>
                    <i class="fi fi-bs-truck-pickup icon"></i>
                    <i class="fi fi-bs-truck-moving icon"></i>
                    <i class="fi fi-rr-bus icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-img">
            <img src="https://img.freepik.com/fotos-premium/proceso-lavado-autos-profesional-detergente-quimico-hidrolimpiadora-alta-presion_95891-6057.jpg?w=1380" alt="">
        </div>
        <div class="data-carwash">
            <div class="data">
                <h2>Nombre del lavadero</h2>
                <div id="stars">★★★★★</div> 
              
            </div>
            <div class="data">
                <div class="ubication-container"><i class="fi fi-sr-marker icon-ubication"></i> <span id="ubication">ubicacion del lavadero</span></div>
                <div class="container-icons">
                    <strong>vehiculos que manejamos:</strong>
                    <i class="fi fi-ss-motorcycle icon"></i>
                    <i class="fi fi-br-car icon"></i>
                    <i class="fi fi-bs-truck-pickup icon"></i>
                    <i class="fi fi-bs-truck-moving icon"></i>
                    <i class="fi fi-rr-bus icon"></i>
                </div>
            </div>
        </div>
    </div>

</div>