<div class="contenedor">
<div class="text-center d-flex flex-column align-items-center">
<h2>Servicios</h2>
<p class="w-50 mb-0">Elige tu tipo de vehiculo para poder filtrar tu buqueda. Y a continuacion eligue los servicios que vas a reservar.</p>

</div>

  <div class="filter-services">
  
    <div class="pages"  >
      <div class="page" >
         <!-- tipos vehiculos -->  
         <div class="w-100 d-flex  justify-content-between">
          <div class="container_">
            <div class="radio-tile-group">
              <label for="motorcycle" class="input_container">
                <input id="motorcycle" class="radio-button" type="radio" name="radio" (change)="onCheckboxChange('Moto')"> 
                <div class="radio-tile">
                  <div class="icon">
                    <i class="fa-solid fa-motorcycle"></i>
                  </div>
                  <label class="radio-tile-label">Moto</label>
                </div>
              </label>
            </div>
          </div>
          <div class="container_">
            <div class="radio-tile-group">
              <label for="car" class="input_container">
                <input id="car" class="radio-button" type="radio" name="radio" (change)="onCheckboxChange('Carro')"  checked>
                <div class="radio-tile">
                  <div class="icon">
                    <i class="fa-solid fa-car-side"></i>
                  </div>
                  <label class="radio-tile-label">Carro</label>
                </div>
              </label>
            </div>
          </div>
          <div class="container_">
            <div class="radio-tile-group">
              <label for="truck_small" class="input_container">
                <input id="truck_small" class="radio-button" type="radio" name="radio" (change)="onCheckboxChange('Camioneta')">
                <div class="radio-tile">
                  <div class="icon">
                    <i class="fa-solid fa-truck-pickup"></i>
                  </div>
                  <label class="radio-tile-label">Camioneta</label>
                </div>
              </label>
            </div>
          </div>
          <div class="container_">
            <div class="radio-tile-group">
              <label for="truck_big" class="input_container">
                <input id="truck_big" class="radio-button" type="radio" name="radio" (change)="onCheckboxChange('Camion')">
                <div class="radio-tile">
                  <div class="icon">
                    <i class="fa-solid fa-truck"></i>
                  </div>
                  <label class="radio-tile-label">Camion</label>
                </div>
              </label>
            </div>
          </div>
          <div class="container_">
            <div class="radio-tile-group">
              <label for="van" class="input_container">
                <input id="van" class="radio-button" type="radio" name="radio" (change)="onCheckboxChange('Bus')">
                <div class="radio-tile">
                  <div class="icon">
                    <i class="fa-solid fa-van-shuttle"></i>
                  </div>
                  <label class="radio-tile-label">Bus</label>
                </div>
              </label>
            </div>
          </div>
         </div>
  
      </div>
  
    </div>
   
  </div>
  <!-- servicios-->

  <ng-container *ngIf="serviciosMostrados.length > 0 ; else noServicios">
  
  <div class="services_container">

    <div class="header_botones">
    <button class="mb-2 w-25" (click)="abrirModal()">
      <p>Reservar </p>
      <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-6 w-6 mt-1 d-block" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
    </svg>
      <i class="fa-solid fa-calendar-day"></i>
  </button>

  <div class="elegir">
    <p>Seleccionados</p>
    <span>{{serviciosSeleccionados.length}}</span>
  </div>
</div>
<ng-container *ngFor=" let servicio of serviciosMostrados">
  <details>
    <summary> 
      <!-- nombre del servidor -->
      <h5 class="mb-0 mt-1">  
        <ng-container [ngSwitch]="servicio.tipoVehiculo">
        <i class="fa-solid fa-car me-2" *ngSwitchCase="'Carro'"></i>
        <i class="fa-solid fa-motorcycle me-2" *ngSwitchCase="'Moto'"></i>
        <i class="fa-solid fa-truck-pickup me-2" *ngSwitchCase="'Camioneta'"></i>
        <i class="fa-solid fa-truck me-2" *ngSwitchCase="'Camion'"></i>
        <i class="fa-solid fa-van-shuttle me-2" *ngSwitchCase="'Bus'"></i>
      </ng-container>

      <span>{{ servicio.nombre }}</span>
    </h5>
      <!-- precio --> 
      <span><i class="fa-solid fa-dollar-sign me-1"></i>{{servicio.costo}}</span>
      <!-- hora --> 
      <span><i class="fa-regular fa-clock me-1"></i> {{servicio.duracion }}</span>
      <!-- checkbox --> 
      <label class="container_check">
        <input  type="checkbox" (change)="servicioSeleccionado($event, servicio)">
        <div class="checkmark"></div>
      </label>
    </summary>


    <div class="description">
      <h5 class="mb-0">Descripcion</h5>
      <p> {{ servicio.detalle }}</p>
    </div>
  </details>
</ng-container>

    
  </div>
</ng-container>

<ng-template #noServicios>
  <div class="no_services">
    <h4>No hay servicios disponibles</h4>
  </div>
</ng-template>

<!--   <div class="services-contenedor">
    <div class="service" *ngFor="let servicio of servicios">
      <div class="name_service">
        <h4><i class="fa-solid fa-car-side"></i> {{ servicio.nombre }}</h4>
      </div>
      <p><i class="fa-regular fa-clock"></i> {{ servicio.duracion }} minutos</p>

      <div class="cost">
        <strong> <i class="fa-solid fa-money-bill-wave"></i> ${{ servicio.costo }}</strong>
        <input
          type="button"
          value="Reservar"
          (click)="openModal(true, 'reserve', servicio)"
        />
      </div>
    </div>
  </div> -->
</div>
