<div class="col-6">
    <div class="d-flex header align-items-center justify-content-between">
        <div class="title d-flex ">
            <div class="icon">
                <i class="fi fi-br-file-spreadsheet"></i>
            </div>
           <div class="ms-2"> <h2 class="mb-0">Nuevo Servicio</h2></div>
        </div>
    <button class="btn btn-light">x</button>
    </div>

    <div class="content d-flex flex-column p-4">
        <form action="">

            <div class="input-container">
                <i class="fi fi-br-file-spreadsheet"></i>
                <input placeholder="Nombre del Servicio" type="text" class="input_text_form">
            </div>

            <!-- Doble casilla -->
          <div class="row">
            <div class="col pe-0">
                
                <div class="input-container">
                    <i class="fi fi-rr-list"></i>
                    <select name="" id="">
                        <option value="" selected disabled>Categoria</option>
                    </select>
                </div>
            </div>

            <div class="col ps-0">
                <div class="input-container">
                    <i class="fi fi-rr-car-bus"></i>
                    <select name="" id="">
                        <option value="" selected disabled>Tipo Vehiculo</option>
                    </select>
                </div>
            </div>
          </div>
            
                <!-- Doble casilla -->
          <div class="row">

            <div class="col pe-0"> 
                <div class="input-container">
                    <i class="fi fi-br-usd-circle"></i>
                    <input placeholder="Costo" type="text" class="input_text_form"  (input)="validarInput($event)">
                </div>
            </div>

            <div class="col ps-0"> 
                <div class="input-container position-relative overflow-hidden">
                    <i class="fi fi-rs-time-quarter-to"></i>
                    <input placeholder="Duracion servivio"  type="text" class="input_text_form"  (input)="validarInput($event)">
                    <div class="w-25 min">
                        Min
                    </div>
                </div>
            </div>
          </div>

          
            <div class="input-container flex-column align-items-start p-3">
                <h4>Descripcion del servicio</h4>
                <textarea id="" cols="30" rows="10"></textarea>
            </div> 

            <div class="d-grid">
                <button class="btn btn-info">Registrar</button>
            </div>
        </form>
    </div>
</div>