<div class="col-6">
    <div class="row header">
        <div class="icon">
            
        </div>
        <h2>Nuevo Servicio</h2>
    </div>

    <div class="content d-flex flex-column  ">
        <form action="">

            <div class="input-container">
                <i></i>
                <input placeholder="Nombre del Servicio" type="text" class="input_text_form">
            </div>

            <!-- Doble casilla -->
          <div class="row">

            <div class="col">
                
                <div class="input-container">
                    <i></i>
                    <select name="" id="">
                        <option value="" selected disabled>Categoria</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="input-container">
                    <i></i>
                    <input type="text" class="input_text_form">
                    <select name="" id="">
                        <option value="" selected disabled>Tipo Vehiculo</option>
                    </select>
                </div>
            </div>
          </div>
            
                <!-- Doble casilla -->
          <div class="row">


            <div class="col"> 
                <div class="input-container">
                    <i></i>
                    <input placeholder="Costo" type="text" class="input_text_form">
                </div>
            </div>

            <div class="col"> 
                <div class="input-container">
                    <i></i>
                    <input  type="time" class="input_text_form">
                </div>
            </div>
          </div>

          

       

            <div class="input-container">
                <h4>Descripcion del servicio</h4>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div> 
        </form>
    </div>
</div>