.container{
  height: calc(100% - 42px);
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.form-control{
  width: 200px;
  margin: 15px 0 15px 0;
}

.container_table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
}