<div class="container">
 
  <div class="datepicker-container pt-3">
    <label for="startDate">Seleccionar fecha: </label>
    <input id="startDate" class="form-control" type="date" [min]="getCurrentDate()" value="{{ getCurrentDate() }}" (change)="onDateChange($event)">
  </div>

  <div class="container_table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 shadow">
      <!-- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition -->
      <!-- Position Column -->
      <ng-container matColumnDef="Encargado">
        <th mat-header-cell *matHeaderCellDef >Encargado</th>
        <td mat-cell *matCellDef="let element">{{ element.Encargado }}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="Placa">
        <th mat-header-cell *matHeaderCellDef >Placa</th>
        <td mat-cell *matCellDef="let element">{{ element.Placa }}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef >Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.Fecha }}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="Servicio">
        <th mat-header-cell *matHeaderCellDef >Servicio</th>
        <td mat-cell *matCellDef="let element">{{ element.Servicio }}</td>
      </ng-container>
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef >Accion</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" class="m-1" (click)="verDetalles(element)">Confirmar</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" mat-sort-header-row></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="100" [pageSizeOptions]="[5,10,20]" aria-label="select page"></mat-paginator>
  </div>

</div>


