

<div class="container my-5">
  

  <ul class="nav nav-tabs">
    <!-- <li class="nav-item">
      <a class="nav-link " aria-current="page" href="#">Active</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard-lavadero/reservas/reserva" [routerLinkActive]="['active']">Pendientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="['active']">En proceso</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="['active']">Terminadas</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li> -->
  </ul>
  <router-outlet></router-outlet>
</div>
