<div style="width:80%; background-color: black; ">
    <p-galleria 
        [numVisible]="3" 
        [value]="images">
        <ng-template pTemplate="item" let-item>
            <img 
                [src]="item.previewImageSrc" 
                [alt]="item.alt" 
                [title]="item.title" 
                style="width: 50%;" 
            />
        </ng-template>
  
  
        <ng-template pTemplate="thumbnail" let-item width="50%">
            <div class="grid  grid-nogutter justify-content-center">
                <img 
                    [src]="item.thumbnailImageSrc" 
                    [alt]="item.alt" 
                    [title]="item.title" 
                    width=80% 
                />
            </div>
        </ng-template>
  
    </p-galleria>