@import "../../../../../../src/app/app.component.scss";

.padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .carousel, .slide{
        height: 500px !important;
        width: 900px !important;
        position: relative !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .carousel-indicators{
            position: absolute !important;
            margin: auto;
        }
    
        .carousel-inner{
            height: 500px !important;
            width: 900px !important;
    
            .carousel-item{
                width: 100% !important;
                height: 100% !important;
                
                img{
                    object-fit: cover !important;
                    width:100% !important;
                    height:100% !important;
                }
            }
        }

        .carousel-control-prev, .carousel-control-next {
            &:hover{
                .carousel-control-prev-icon{
                    box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.5);
                }
            }
        }
    }
}
