

<div class="container mt-3">


  <ul class="nav nav-tabs">
    <!-- <li class="nav-item">
      <a class="nav-link " aria-current="page" href="#">Active</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard-lavadero/reservas" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Pendientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard-lavadero/reservas/en-progreso" [routerLinkActive]="['active']">En proceso</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard-lavadero/reservas/completadas" [routerLinkActive]="['active']">Completadas</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li> -->
  </ul>
  <router-outlet></router-outlet>
</div>
