
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$htppclient-primary: mat.define-palette(mat.$indigo-palette);
$htppclient-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$htppclient-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$htppclient-theme: mat.define-light-theme((
  color: (
    primary: $htppclient-primary,
    accent: $htppclient-accent,
    warn: $htppclient-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($htppclient-theme);
@import "./styles/variables.scss";

html{
  min-height: 100vh;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-user-drag: none;
  text-decoration: none;
  list-style: none;
}

app-principal, app-catalogue, app-profile-carwash, app-companies, app-perfil-usuario{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}



/* Cambiar scroll-bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $negro-claro;
}

::-webkit-scrollbar-thumb {
  background: #1E90FF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
  /* Boxshadow izquierda */
  background: #4fa5fa;
}
/* ::-webkit-scrollbar-thumb:hover::-webkit-scrollbar-track {
  background: #ff0000;
} */
::-webkit-scrollbar-thumb:active {
  background-color: $azul-oscuro;
}
// scroll de los select
select::-webkit-scrollbar {
  width: 3px !important;
}

select::-webkit-scrollbar-track {
  background: transparent !important
}

select::-webkit-scrollbar-thumb {
  background: $azul-oscuro !important;
  border-radius: 5px !important;
}

// diseño options de los select, centrar texto, padding, etc
select option {
  margin: 10px !important;
  font-size: 15px !important;
  font-weight: 400;
  padding-left: 10px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
