
@import './styles/variables.scss';


html{
  min-height: 100vh;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-user-drag: none;
  text-decoration: none;
  list-style: none;
}

app-principal, app-catalogue, app-profile-carwash, app-companies, app-perfil-usuario{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}



/* Cambiar scroll-bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $negro-claro;
}

::-webkit-scrollbar-thumb {
  background: #1E90FF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
  /* Boxshadow izquierda */
  background: #4fa5fa;
}
/* ::-webkit-scrollbar-thumb:hover::-webkit-scrollbar-track {
  background: #ff0000;
} */
::-webkit-scrollbar-thumb:active {
  background-color: $azul-oscuro;
}
// scroll de los select
select::-webkit-scrollbar {
  width: 3px !important;
}

select::-webkit-scrollbar-track {
  background: transparent !important
}

select::-webkit-scrollbar-thumb {
  background: $azul-oscuro !important;
  border-radius: 5px !important;
}

// diseño options de los select, centrar texto, padding, etc
select option {
  text-align: center;
  margin: 10px !important;
  font-size: 15px !important;
  font-weight: 400;
}

// quitar bordes negros al dar click en los select: 
select:focus {
  outline: none !important
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
