@import "../../../app.component.scss";

.contenedor {
  // FONDO OSCURO PARA LOADER
  background-color: rgba(0, 0, 0, 0.5);
  // CENTRAR LOADER
  display: flex;
  justify-content: center;
  align-items: center;
  // TAMAÑO DEL LOADER
  height: 100vh;
  width: 100vw;
  // POSICION FIJA
  position: fixed;
  top: 0;
  left: 0;
  // Z-INDEX PARA QUE ESTE POR ENCIMA DE TODO
  z-index: 9999;

  //* OPCION 1
  /*   .loader {
    position: relative;
    width: 164px;
    height: 164px;
    border-radius: 50%;
    animation: rotate 0.75s linear infinite;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 40px;
      border: 1px solid $azul-oscuro;
      border-width: 12px 2px 7px;
      border-radius: 2px 2px 1px 1px;
      box-sizing: border-box;
      transform: rotate(45deg) translate(24px, -10px);
      background-image: linear-gradient($azul-oscuro 20px, transparent 0),
        linear-gradient($azul-oscuro 30px, transparent 0),
        linear-gradient($azul-oscuro 30px, transparent 0);
      background-size: 10px 12px, 1px 30px, 1px 30px;
      background-repeat: no-repeat;
      background-position: center, 12px 0px, 3px 0px;
    }

    &::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 4px;
      left: 20px;
      top: 47px;
      border-radius: 50%;
      color: #fff;
      box-shadow: -4px 7px 2px, -7px 16px 3px 1px, -11px 24px 4px 1px,
        -6px 24px 4px 1px, -14px 35px 6px 2px, -5px 36px 8px 2px,
        -5px 45px 8px 2px, -14px 49px 8px 2px, 6px 60px 11px 1px,
        -11px 66px 11px 1px, 11px 75px 13px, -1px 82px 15px;
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  } */

  //* OPCION 2
  /* .loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: $azul-oscuro;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .5em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .5em .5em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .5em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.5em .5em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.5em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.5em -.5em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.5em 0 0 currentcolor;
    }
    87% {
      box-shadow: .5em -.5em 0 0 currentcolor;
    }
  } */

  //* Opcion 3

  .loader {
    width: 118px;
    height: 118px;
    display: inline-block;
    position: relative;
  }

  .loader {
    &::after,
    &::before {
      content: "";
      box-sizing: border-box;
      width: 118px;
      height: 118px;
      border-radius: 50%;
      border: 3px solid #fff;
      position: absolute;
      left: 0;
      top: 0;
      animation: animloader 2s linear infinite;
      -webkit-animation: animloader 2s linear infinite;
    }

    &::after {
      animation-delay: 0.5s;
    }
  }

  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}
